---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "font-awesome",
    		"main",
    		"lightbox",
    		"owl.carousel",
    		"lightbox",
    		"owl.theme",
    		"scrolling-nav",
    		"booking-widget",
        	"datepicker",
			"print";
