---
layout: home
title: Instant Site
parent: home
excerpt:
---

{% include banner_carousel.html %}

<!--About us Part-->

<section id="About"  class="About clearfix">

  <div class="container">
    <div class="row">
      <h6 class="text-center">ABOUT US</h6>
      {% region about_us %}

      <div class="col-sm-12 text-center">
        <h5>Follow Us</h5>
        <ul>
          <li><a class="fa fa-facebook" aria-hidden="true"></a></li>

          <li><a class="fa fa-twitter" aria-hidden="true"></a></li>

          <li><a class="fa fa-google-plus" aria-hidden="true"></a></li>

          <li><a class="fa fa-instagram" aria-hidden="true"></a></li>

          <li><a class="fa fa-pinterest-p" aria-hidden="true"></a></li>
        </ul>
      </div>
      <div class="gaps"></div>
    </div>
  </div>

  <article  class="about-pics ">

    <div class="col-sm-4">
      <div class="row">

        <div class="col-sm-12">
          <div class="row">
            <img src="images/about-1.jpg" alt=""/>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <img src="images/about-2.jpg" alt=""/>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 ">
      <div class="row">
        <img src="images/about-3.jpg" alt=""/>
      </div>
    </div>

  </article>
</section>


<!--Rooms us Part-->
{% include rooms.html %}

<!--Facilities us Part-->
<section id="Facilities" class="Facilities clearfix">

  <div class="container">
    <div class="row">
      <h6 class="text-center">FACILITIES</h6>
      <h2 class="text-center">Cum sociis natoque </h2>

      <div class="col-sm-6">
        <div class="text-center"><img src="images/facility.jpg"/></div>

        <div class="facility-pics-bottom">
          Quae quidem sapien<br>
          sequuntur duce
        </div>
      </div>
      <div class="col-sm-6 Feature-list">
        <ul>
          <li>
            <h6>Feature 1</h6>
            <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque </p>
          </li>

          <li>
            <h6>Feature 2</h6>
            <p>An eos posse fabellas consectetuer. Usu ea dico scribentur, mea et reque ubique, sit ne eius minim instructior. An eum modus rationibus scribentur. Usu modus scripserit vituperatoribus cu, his iuvaret mediocrem no, essent scaevola per et. Eos modus veniam evertitur ex. Diceret facilisi eu vix, mucius inimicus usu ei, ne nam quas saepe abhorreant. </p>
          </li>

          <li>
            <h6>Feature 3</h6>
            <p>Mea veri persius ea. Nec alia assum ei, labitur deserunt voluptatum pro te. Te duis constituto mnesarchum vel. Ius in docendi convenire. Impedit officiis euripidis eos ut. Ex ius mutat facete  </p>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <article class="facility-pics">
    <div class="col-sm-6">
      <div class="row">
        <img src="images/Facility1.jpg" alt=""/>
        <div class="facility-pics-info">
          Quae quidem sapien<br>
          sequuntur duce
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <img src="images/Facility3.jpg" alt=""/>

        <div class="facility-pics-info">
          Quae quidem sapien<br>
          sequuntur duce
        </div>
      </div>
    </div>
  </article>
</section>

<!--Amenities us Part-->
{% include amenities.html %}

<!--Location us Part-->
{% include location.html %}

<!--Gallery us Part-->
{% include gallery.html %}
