---
layout: home
title: Instant Site
parent: home
excerpt:
---



{% include banner_carousel.html %}







 <!--About us Part-->

<section id="About"  class="About clearfix">

<div class="container">
<div class="row">
  <h6 class="text-center">ABOUT US</h6>
  <h2 class="text-center">Cum sociis natoque penatibus</h2>

<div class="col-sm-11">
<p  class="gap text-center ">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
</div>
<div class="col-sm-offset-2">

<div class="col-sm-5"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p></div>
<div class="col-sm-5">
   <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>

</div>
</div>
<div class="col-sm-12 text-center  gaps">

<h5>Follow Us</h5>
<ul>
<li><a class="fa fa-facebook" aria-hidden="true"></a></li>

<li><a class="fa fa-twitter" aria-hidden="true"></a></li>

<li><a class="fa fa-google-plus" aria-hidden="true"></a></li>

<li><a class="fa fa-instagram" aria-hidden="true"></a></li>

<li><a class="fa fa-pinterest-p" aria-hidden="true"></a></li>
  </ul>
</div>
</div>
</div>

<article  class="about-pics ">

<div class="col-sm-4">
<div class="row">

  <div class="col-sm-12">
  <div class="row">
  <img src="images/about-1.jpg" alt=""/>

  </div>
  </div>

  <div class="col-sm-12">
  <div class="row">
  <img src="images/about-2.jpg" alt=""/>

  </div>
  </div>
</div>
</div>

<div class="col-sm-8 ">
<div class="row">
<img src="images/about-3.jpg" alt=""/>


</div>
</div>

</article>
</section>


 <!--Rooms us Part-->
{% include rooms.html %}


 <!--Facilities us Part-->
<section id="Facilities" class="Facilities clearfix">

  <div class="container">
    <div class="row">
    <h6 class="text-center">FACILITIES</h6>
     <h2 class="text-center">Cum sociis natoque </h2>

    <div class="col-sm-6">
    <div class="text-center"><img src="images/facility.jpg"/></div>

     <div class="facility-pics-bottom">
    Quae quidem sapien<br>
    sequuntur duce
    </div>
    </div>
    <div class="col-sm-6 Feature-list">

    <ul>
    <li>
    <h6>Feature 1</h6>
    <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque </p>
    </li>

    <li>
    <h6>Feature 2</h6>
    <p>An eos posse fabellas consectetuer. Usu ea dico scribentur, mea et reque ubique, sit ne eius minim instructior. An eum modus rationibus scribentur. Usu modus scripserit vituperatoribus cu, his iuvaret mediocrem no, essent scaevola per et. Eos modus veniam evertitur ex. Diceret facilisi eu vix, mucius inimicus usu ei, ne nam quas saepe abhorreant. </p>
    </li>

    <li>
    <h6>Feature 3</h6>
    <p>Mea veri persius ea. Nec alia assum ei, labitur deserunt voluptatum pro te. Te duis constituto mnesarchum vel. Ius in docendi convenire. Impedit officiis euripidis eos ut. Ex ius mutat facete  </p>
    </li>


    </ul>
    </div>

  </div>
  </div>

<article class="facility-pics">
  <div class="col-sm-6">
    <div class="row">
    <img src="images/Facility1.jpg" alt=""/>

    <div class="facility-pics-info">
    Quae quidem sapien<br>
    sequuntur duce
    </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
    <img src="images/Facility3.jpg" alt=""/>

    <div class="facility-pics-info">
    Quae quidem sapien<br>
    sequuntur duce
    </div>
    </div>
  </div>

</article>

</section>



 <!--Amenities us Part-->
<section id="Amenities" class="clearfix hotel-Amenites" >
<div class="container">
<div class="row">
  <h6 class="text-center">HOTEL AMENITIES</h6>

<div class="col-sm-4">
  <ul>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Cum sociis natoque penatibus</li>
    <li>Magnis dis parturient montes</li>
    <li>Nulla consequat massa quis enim</li>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Magnis dis parturient montes</li>
    <li>Lorem ipsum dolor sit ametmus</li>
  </ul>
</div>

<div class="col-sm-4">
  <ul>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Cum sociis natoque penatibus</li>
    <li>Magnis dis parturient montes</li>
    <li>Nulla consequat massa quis enim</li>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Magnis dis parturient montes</li>
    <li>Lorem ipsum dolor sit ametmus</li>
  </ul>
</div>

<div class="col-sm-4">
  <ul>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Cum sociis natoque penatibus</li>
    <li>Magnis dis parturient montes</li>
    <li>Nulla consequat massa quis enim</li>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Magnis dis parturient montes</li>
    <li>Lorem ipsum dolor sit ametmus</li>
  </ul>
</div>
</div>
<div id="collapse1" style="display:none">

<div class="row">

<div class="col-sm-4">
  <ul>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Cum sociis natoque penatibus</li>
    <li>Magnis dis parturient montes</li>
    <li>Nulla consequat massa quis enim</li>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Magnis dis parturient montes</li>
    <li>Lorem ipsum dolor sit ametmus</li>
  </ul>
</div>

<div class="col-sm-4">
  <ul>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Cum sociis natoque penatibus</li>
    <li>Magnis dis parturient montes</li>
    <li>Nulla consequat massa quis enim</li>
    <li>Lorem ipsum dolor sit ametmus</li>
    <li>Magnis dis parturient montes</li>
    <li>Lorem ipsum dolor sit ametmus</li>
  </ul>
</div>

</div>

</div>

  <div class="more-link ">

  <span href="#collapse1" class="nav-toggle button-link">View More</span >
  </div>

</div>
</section>


 <!--Location us Part-->

 {% include location.html %}
<section id="Location" class="Location clearfix" >
<article class="Location-bg clearfix">
  <h6 >LOCATION</h6>
   <h2 >An eos posse fabellas consectetuer</h2>

</article>

<section>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
<div class="row">
<img src="images/location.jpg" alt=""/>
</div>
</div>

<div class="col-sm-6">

<p class="first">Lorem ipsum dolor sit amet, justo clita gloriatur vix ad, pri ei erant omnes deleniti. Iracundia democritum ut qui, eu possit democritum ius. </p>

<div class="middle"> <h5 >Address Details</h5>
  <p class="gap">The Hugo Hotel  |  118 West 18th Street, New York NY 10001  |  GPS 41°24'12.2"N   2°10'26.5"E</p></div>

<p class="last">An eos posse fabellas consectetuer. Usu ea dico scribentur, mea et reque ubique, sit ne eius minim instructior. An eum modus rationibus scribentur. </p>
</div>
</div>
</div>
</section>

<section>


<div class="col-sm-6">

<p class="second">Lorem ipsum dolor sit amet, justo clita  vix ad, pri ei erant omnes deleniti:</p>
<div class="list">
<ul>
    <li>Lorem ipsum dolor sit ametmus    <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Cum sociis natoque penatibus <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Magnis dis parturient montes <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Nulla consequat massa quis enim <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Lorem ipsum dolor sit ametmus <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Magnis dis parturient montes <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Lorem ipsum dolor sit ametmus <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
  </ul>
  </div>
</div>

<div class="col-sm-6">
<div class="row">
<img src="images/map.jpg" alt=""/>
</div>
</div>
</section>



</section>

{% include gallery.html %}
 <!--Gallery us Part-->

<script src="/js/angular.min.js"></script>
<script src="https://code.angularjs.org/1.2.0rc1/angular-animate.min.js"></script>
<script src="https://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/eanapi.js"></script>
<script src="/js/ean-services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scrolling-nav.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/booking-widget.js"></script>
<script src="/js/ui-date.js"></script>
<script src="/js/lg-fullscreen.js"></script>
<script src="/js/lg-thumbnail.js"></script>
<script src="/js/lightgallery.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/nishanth.js"></script>
