<section id="About"  class="clearfix">
  <div class="container">

      <h3>{% regionblock about_us_heading, type:header %}About Us{% endregionblock %}</h3>
      <h4>{% regionblock about_us_subheader %}About Us Sub-header{% endregionblock %}</h4>
      <div class='content-area content-area-intro'>
         {% region about_us_intro %}
      </div>
      <div  class='content-area row'>
        <div class="col-sm-6">
           {% region about_us_col_1 %}
        </div>
        <div class="col-sm-6">
          {% region about_us_col_2 %}
        </div>
      </div>
      {% assign social_icons = site.data._models.social_icons | sort: "order" %}
      {% if social_icons.size > 0 %}
        <div class="col-sm-12 text-center social-icons">
          <h5>{% regionblock follow_us_heading, type:header %}Follow Us{% endregionblock %}</h5>
          {% for social_icon in site.data._models.social_icons %}
            <a class= "{{ social_icon.icon }}" target="_blank"  data-live-edit-model='social_icons' data-live-edit-model-instance='{{social_icon.id}}.json'  aria-hidden="true" href = "{{ social_icon.link_url }}"></a>
          {% endfor %}
        </div>
      {% endif %}
  </div>

  <div  class="about-pics ">

    <div class="col-sm-4">
      <div class="row">

        <div class="col-sm-12">
          <div class="row">
            {% region about_1_img, type:image %}

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            {% region about_2_img, type:image %}

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 ">
      <div class="row">
        {% region about_3_img, type:image %}
      </div>
    </div>

  </div>
</section>