<section class="clearfix" >
  <div id="banner-carousel">
    <div class="banner-heading">
      <h1>
        {% regionblock banner_name, type:header %}
          Hotel Name
        {% endregionblock %}
      </h1>
      <h2>
        {% regionblock banner_subtitle, type:header %}
          Hotel Tagline
        {% endregionblock %}
      </h2>
      <div class="owl-social-icons">
        {% assign icons = site.data._models.social_icons | sort: "order" %}
        {% for social_icons in icons %}
          <a class= "{{ social_icons.icon }}" target="_blank" data-live-edit-model='social_icons' data-live-edit-model-instance='{{social_icons.id}}.json'  aria-hidden="true" href = "{{ social_icons.link_url }}"></a>
        {% endfor %}
      </div>
    </div>
    <div class="carousel slide" id="banner-carousel-slides" data-ride="carousel" data-interval="4000" data-pause="null">
      <div class="carousel-inner" role="listbox" >
        {% assign carousel_images = site.data._models.top-carousel-images | sort: "order" %}
        {% for carousel in carousel_images %}
          {% if carousel.hidden != true %}
            <div class="item {% if forloop.index == 1 %}active{% endif %}" style="background-image:url({{ carousel.image.url }});">
              <img src="{{carousel.image.url}}" alt="{{carousel.image.alt}}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#banner-carousel-slides" role="button" data-slide="prev">
        <span class="fa " aria-hidden="true"><img src="/images/arrow-left.svg" alt=""/></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#banner-carousel-slides" role="button" data-slide="next">
        <span class="fa " aria-hidden="true"> <img src="/images/arrow-right.svg" alt=""/></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
