<section id="Facilities" class="facilities clearfix">
  <div class="container">
    <div class="row">
      <h3>{% regionblock facilities_heading, type:header %}Facilities{% endregionblock %}</h3>
      <h4>{% regionblock facilities_subheading, type:header %}Facilities Sub-Header{% endregionblock %}</h4>
      <!--h2>{% region facilities_subheader %}</h2-->
      <div class='content-area content-area-intro'>
        {% region facilities_intro %}
      </div>
    </div>
    <div class="row ">
      <div class='col-sm-6 col-sm-push-6 col-xs-12'>
        {% for item in site.data._models.facilities | sort: "order" %}
          {% if item.hidden != true %}
            <div class='facility {{ item.name }}' data-live-edit-model='facilities'
    data-live-edit-model-instance='{{item.id}}.json' >
              <h5> {{ item.name }} </h5>
              <p> {{ item.description }} </p>
            </div>
          {% endif %}
        {% endfor %}
        
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-xs-12" >
          <figure class="facility-pic">
             {% regionblock facility_image, type:image %}
               <img src="/assets/images/facility.jpg" />
             {% endregionblock %}
             <figcaption>{% regionblock facility_image_caption, type:header %}This is an Image Caption{% endregionblock %}</figcaption>
          </figure>
      </div>
    </div>
  </div>
  
  <div class="container extra-facility-images">
    <div class="row">
      <div class="col-sm-6 col-xs-12" >
        <figure class="facility-pic">
           {% regionblock facility_image2, type:image %}
             <img src="/assets/images/Facility1.jpg" />
           {% endregionblock %}
           <figcaption>{% regionblock facility_image2_caption, type:header %}This is an Image Caption{% endregionblock %}</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-xs-12" >
        <figure class="facility-pic">
           {% regionblock facility_image3, type:image %}
             <img src="/assets/images/Facility3.jpg" />
           {% endregionblock %}
           <figcaption>{% regionblock facility_image3_caption, type:header %}This is an Image Caption{% endregionblock %}</figcaption>
        </figure>
      </div>
      
    </div>
  </div>

</section>