<!--Footer Part-->
<script type="text/javascript">
  jQuery(document).ready(function(){
    rt3.getHotelInfo().then(function(resp) {
      console.log(resp)
    })
  });
</script>
<footer id="Contact">
  <div class="container">
    <div class="row  inner-content-wrap">
      <div class="col-xs-12">
        <div class="inner-content">
          <div class="row">
            <div class="col-sm-3 footer-logo">
              <h3>{%regionblock hotel_logo_text, type:header %}HOTEL NAME{%endregionblock%}</h3>              
            </div>
            <div class="col-sm-3 f-social-links">
              <h3>{% regionblock footer_social_header, type:header %}Follow Us{%endregionblock%}</h3>
              {% for social_icon in social_icons %}
                <a class= "{{ social_icon.icon }}" target="_blank" data-live-edit-model='social_icons'
    data-live-edit-model-instance='{{social_icon.id}}.json'  aria-hidden="true" href = "{{ social_icon.link_url }}"></a>
              {% endfor %}
            </div> 
            <div class="col-sm-3">
              {% if site.data.hotel_settings.phone_number or site.data.hotel_settings.email %}
                <h3>{% regionblock footer_contact_header %}Contact{% endregionblock %}</h3>
                <p>
                  {% if site.data.hotel_settings.phone_number %}
                    <a href="callto:{{site.data.hote_settings.phone_number}}">{{site.data.hotel_settings.phone_number}}</a><br>  
                  {% endif %}
                  {% if site.data.hotel_settings.email %}
                    <a             href="mailto:{{site.data.hote_settings.email}}">{{site.data.hotel_settings.email}}</a>
                  {% endif %}
                
                </p>              
              {% endif %}
            </div>
            <div class="col-sm-3">
              {% if site.data.hotel_settings.address %}
                <h3>{%regionblock footer_address_header, type:header %}Address{%endregionblock%}</h3>
                <p>
                  {{site.data.hotel_settings.address.street1}}</br>
                  {% if site.data.hotel_settings.address.street2 %}
                    {{site.data.hotel_settings.address.street2}}</br>
                  {% endif %}
                  {{site.data.hotel_settings.address.city}},
                  {% if site.data.hotel_settings.address.state %}
                    {{site.data.hotel_settings.address.state}},
                  {% else %}
                    {{site.data.hotel_settings.address.country }},
                  {% endif %}
                  {{site.data.hotel_settings.address.zip_code }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<section class="copyrights">
  <div class='content-area'>
    &copy; {{ 'now' | date: "%Y" }}
    {%regionblock footer_links type=header %} 
      {{site.data.hotel_settings.name}} | All Rights Reserved  
    {% endregionblock %}
    <!-- 
      | <a href="/terms-and-conditions" target="_blank">Terms & Conditions</a> | <a href="/privacypolicy" target="_blank">Privacy Policy</a>
    //-->
  </div>
</section>
