<section id="Amenities" class="clearfix hotel-amenities" >
    <div class="container">
        <div class="row ">
            <h3>{% regionblock amenities_heading, type:header %}Hotel Amenities{% endregionblock %}</h3>
            <h4>{% regionblock amenities_subheading, type:header %}Amenities Sub-Header{% endregionblock %}</h4>
            <div class='content-area content-area-intro'>
               {% region amenities_intro %}
            </div>
            <div class='content-area container'>
              <ul class="amenities-list">
                {% assign amenities = site.data._models.amenities | sort: "order" %}
                {% assign amenitiesLength = amenities.size %}
                {% for item in amenities %}
                  <li class="col-sm-6 col-xs-12"  data-live-edit-model='amenities'
  data-live-edit-model-instance='{{item.id}}.json' ><div class="list"> {{ item.name }}</div></li>
                {% endfor %}
              </ul>
              {% if amenitiesLength > 6 %}
                <a class='more-link'>View More</a>
                <script type="text/javascript">
                  $(document).ready(function() {
                    $(".hotel-amenities a.more-link").click(function() {
                      var $list = $("ul.amenities-list");
                      if ($list.hasClass('expanded')) {
                        $list.removeClass('expanded');
                        $(this).text("View More");
                      } else {
                        $list.addClass('expanded')
                        $(this).text("View Less");
                      }
                    })
                  })
                </script>                
              {% endif %}
            </div>
        </div>
    </div>
</section>
