<script type="text/javascript">
  $(document).ready(function() {
    rt3.getHotelInfo().then(function(resp) {

      if (resp.latitude &  resp.longitude) {
        var mapsIframeUrl = "https://www.google.com/maps/embed/v1/view?key={{site.google_maps_api_key}}&center={{site.data.hotel_settings.latitude}},{{site.data.hotel_settings.longitude}}&zoom=15";
        //var mapsIframeUrl = "https://www.google.com/maps/embed/v1/view?key={{site.google_maps_api_key}}&center="+resp.latitude+","+resp.longitude+"&zoom=15";
        $("#map iframe").attr('src', mapsIframeUrl)
        var placeUrl = "https://www.google.com/maps/place/"+resp.name+"/@"+resp.latitude+","+resp.longitude+",17z";
        $("#map a").attr('href', placeUrl);
        
        $("#placeholder_map").hide();
        $("#map").show();       
      }
    })
      
    
  })
</script>
<section id="Location" class="location clearfix" >
  <div class="container">
    <div class="row">
      <div class='content-area'>
        <h3>{% regionblock location_heading, type:header %}Location{% endregionblock %}</h3>
        <h4>{% regionblock location_subheading, type:header %}Location Sub-Header{% endregionblock %}</h4>
      </div>
      <div class='content-area content-area-intro'>
        {% region location_intro %}
      </div>
    </div>
  </div>

  <div class="container-fluid location-details">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          {% region location_img, type:image %}
        </div>
      </div>  

      <div class="col-sm-6">
        <div class=" address-info">
          {% regionblock location_desc %}
            <p>The hotel is conveniently located in the beatiful area near lots of great attractions</p>
          {% endregionblock %}
          <h5>{% regionblock address_header, type:header %}Address{% endregionblock %}</h5>
          <div class="address">
            {% regionblock styled_address %}
              <p>
                One Twenty One Main Street<br/>
                Your City or Town<br/>
                POSTALCODE<br/>
              <p>
            {% endregionblock %}
          </div>
        </div>
      </div>

      
      </div>
    </div>
  </div>

  <div class="container-fluid attractions-map">
    <div class="col-sm-6">
      {% region attractions_heading %}
      <div class="list">
        <ul>
          {% if site.data._models.attractions %}
            {% assign attractions = site.data._models.attractions | sort: "order" %}
            {% for item in attractions %}
              <li  data-live-edit-model='attractions' data-live-edit-model-instance='{{item.id}}.json' > {{ item.name }}</li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="maps">
        <div id="placeholder_map">
          <img src="/images/location.svg" />
        </div>
        <div id="map">
          <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0; with: 100%; height: 100%"
            src="" allowfullscreen>
          </iframe>            
          <a id="map_marker" target="_NEW">
            <img src="/images/map-icon.svg" />              
          </a>
        </div>

        
        
        
      </div>
    </div>
  </div>

</section>
