
<section id="Rooms" class="rooms-suites clearfix">
  <script type="text/javascript">
    //Rooms
    jQuery(document).ready(function(){
      
      rt3.getAllRooms().then(function(resp) {
        console.log(resp);
        var $list = $("#rooms-list");
        var $carouselList = $("#rooms-carousel-list");
        var $carouselIndicators = $("#carousel-indicators")
        for(var i=0, ii=resp.rooms.length; i<ii; i++) {
          var room = resp.rooms[i];
          var roomNames = (room.name || '').split('|');
          var roomName = roomNames[roomNames.length - 1]
          var roomImage = room.image_info[0] && room.image_info[0].urls ? room.image_info[0].urls.large : '';
          var $listItem = $(document.createElement("li"));
          $listItem.html("<div class=\"view view-first\" style=\"background-image:url('"+roomImage+"');\">" +
                       "<h3><span>"+roomName+"</span></h3>" +
                       "<img src=\""+roomImage+"\" alt=\"\">" +
                       "<a class=\"readon\" data-id=\""+i+"\" data-toggle=\"pill\" href=\"#room-detail\">" +
                       "   <div class=\"mask\">" +
                       "    <h2>View This Room</h2>" +
                       "   </div>" +
                       "</a>" +
              "</div>");     
              
          var $carouselItem = $(document.createElement("div"));
          $carouselItem.addClass("item").addClass('row');
          if (i==0) {
            $carouselItem.addClass("active");
          }
          $carouselItem.html(
            '<div class=" col-sm-6 col-sm-push-6">'+
              '<div class="room-info">'+
                (room.category ? ('<h3>'+room.category+'</h3>') : '') +
                (roomName ? ('<h4>'+roomName+'</h4>') : '') +
                (room.short_description ? ('<p>'+room.short_description+'</p>') : '') +
              '<div class="btn-book">'+
                '<a class="book-now-button" href="'+
                      '{{site.reztrip_url}}search?selected_room_category=' +
                        room.category +
                        '&selected_room='+
                        room.code +
                  '">BOOK NOW</a>'+
              '</div>' +
              '</div>'+
              
            '</div>' +
            '<div class="image col-sm-6 col-sm-pull-6" style="background-image:url('+roomImage+')">'+
              '<img src="'+roomImage+'">'+
            '</div>'

            
          );
                        
          var $carouselIndicatorItem = $(document.createElement("li"));
          $carouselIndicatorItem.attr('data-target', '#rooms-carousel')
          $carouselIndicatorItem.attr('data-slide-to', i)
          if (i==0) {
            $carouselIndicatorItem.addClass('active');
          }
          $carouselIndicatorItem.text(i+1);
          
          $list.append($listItem);
          $carouselList.append($carouselItem);
          $carouselIndicators.append($carouselIndicatorItem);
          
          $(document).on("click", ".readon", function() {
             var slideId = $(this).attr('data-id');
             $('.contTabs li:last').tab('show');
             $('#rooms-carousel').carousel(parseInt(slideId));
          });
          
        }
        
      })

      
    });
  </script>
  
  
  <div class="container">
    <div class="row">
    <h3>{% regionblock room_suites_heading, type:header %}Rooms &amp; Suites{% endregionblock %}</h3>
    <h4>{% regionblock room_suites_sub_heading, type:header %}Rooms Sub-Header{% endregionblock %}</h4>
    <div class='content-area content-area-intro'>
       <div class="col-sm-12">{% region room_suites_intro %}</div>
    </div>
    <div  class='content-area'>
       <div class="col-sm-12">{% region room_details %}</div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="tabs text-center">
        <ul class="contTabs">
          <li ><a data-toggle="pill" href="#all-rooms">View All</a></li>
          <li class="active"><a data-toggle="pill" href="#room-detail">Room Detail</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="all-rooms" class="tab-pane fade  text-center container-a1 content-area" >
          <div class="rooms-list">
            <ul id="rooms-list">
            </ul>
          </div>
        </div>
        <div id="room-detail" class="tab-pane fade in active">
          <div class="container">
            <div class="row">
                <div id="rooms-carousel" class="carousel slide">
                    <div class="carousel-inner" role="listbox" id="rooms-carousel-list">
                    </div>

                    <a class="left carousel-control" href="#rooms-carousel" role="button" data-slide="prev">
                      <span class="fa " aria-hidden="true"><img src="/images/arrow-left-gray.svg" alt=""/></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#rooms-carousel" role="button" data-slide="next">
                      <span class="fa " aria-hidden="true"> <img src="/images/arrow-right-gray.svg" alt=""/></span>
                      <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators" id="carousel-indicators">
                    </ol>
                  </div>

              </div>



            </div>


          </div>
        </div>
      </div>
    </div>



  
</section>
<section class="all-room-amenities">
  <div class="container ">
    <h3>{% regionblock room_amenities_heading, type:header %}All Room Amenities{% endregionblock %}</h3>
    <h4>{% regionblock room_amenities_subheading, type:header %}Room Amenities Sub-Header{% endregionblock %}</h4>
    
    <div class='content-area'>
      <div class='row'>
        {% assign room_amenities = site.data._models.room_amenities | sort: "order"  %}
        {% assign loopIdx = 0 %}
        {% for item in room_amenities %}
          {% if item.hidden != true %}
            
            {% assign mod = loopIdx | modulo:2 %}
            {% if mod == 0 and loopIdx != 0 %}
              </div>
              <div class='row'>
            {% endif %}
            <div data-live-edit-model='room_amenities' data-live-edit-model-instance='{{item.id}}.json' class='col-sm-6 col-xs-12'> 
              <h5>{{ item.name }}</h5>
              <p>{{ item.description }}</p>
            </div>
            {% assign loopIdx = loopIdx | plus: 1 %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
