<section class="clearfix" >
  <div id="topSlider">
  <div class="banner-heading">
  <h1 class="owl-heading  text-center">THE <br class="hiddenbrk">{[hotelInfo.name]}</h1>
      <div class="owl-social-icons">
        {% for social_icons in site.data._models.social_icons %}
          <a class= "{{ social_icons.icon_name }}" aria-hidden="true" href = "{{ social_icons.icon_href }}" target = "_blank"></a>
        <!--img src="" alt=""/-->
        {% endfor %}
      </div>
    </div>
  <div class="owl-carousel" id="Slider">

    {% for corousel in site.data._models.top-carousel-images %}

      <div class="item" style="background-image:url({{ corousel.image.url }});">

      </div>

  {% endfor %}
  </div>
</div>
</section>
