
<div class="home-banner-wrapper" ng-controller='roomsInitCtrl'>
  <!-- Carousel  -->
  <div id="homebanner" class="carousel slide" >
    <!-- Indicators -->
    <!--ol class="carousel-indicators">
      <li ng-repeat="room in carousel track by $index" data-target="#homebanner"  data-slide-to="{[$index]}" ng-class="{active: $index==0}"></li>
    </ol-->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-repeat="room_img in carousel track by $index" ng-class="{active: $index==0}" >
        <img ng-src="{[room_img]}" >
        <div class="container" >
          <div class="carousel-caption">
            <h1 class="box-title">{[hotelInfo.name]}</h1>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#homebanner" role="button" data-slide="prev"><span class="" ><img src="images/arrow-left.svg"/></span>  </a> <a class="right carousel-control" href="#homebanner" role="button" data-slide="next"> <img src="images/arrow-right.svg"/></a>       </div>
</div>
</div>
