<div class="booking-widget" ng-controller="bookingWidget as widget">


    <div id="step1">
    <div class="booking-widget_header">
      <div class="booking-widget_close">&times;</div>
      <h3 class="booking-widget_title">Your Booking</h3>
    </div>

    <div class="bookin-widget_parameters">
      <div class="bookin-widget_parameters_content">

        <div class="bookin-widget_parameters_select-group">
          <span class="bookin-widget_parameters_lable">GUESTS:</span>



          <div class="bookin-widget_parameters_adualt">
            <span class="bookin-widget_parameters-icons">
                  <a role="button" class="btn-min btn-number"  data-type="minus" value="+" data-field="quant[1]"><p>-</p></a>



            </span>
                    <input type="text" name="quant[1]" id="numAdults" class="input-number" value="1" min="1" max="5">
                  <span class="bookin-widget_parameters-text">Adults</span>

                    <span class="bookin-widget_parameters-icons">
                      <a role="button" class="btn-pls btn-number" data-type="plus" data-field="quant[1]" value="-"><p>+</p>
                      </a>
                  </span>

                      </div>

              <div class="bookin-widget_parameters_children">

                  <span class="bookin-widget_parameters-icons">
                                    <a role="button" class="btn-min btn-number"  data-type="minus" data-field="quant[2]" value="+"><p>-</p></a>
                                  </span>
                <input type="text" name="quant[2]" id="numChild" class=" input-number" value="1" min="1" max="5">
                  <span class="bookin-widget_parameters-text">Children</span>

                    <span class="bookin-widget_parameters-icons">
                      <a  role="button" class="btn-pls btn-number" data-type="plus" data-field="quant[2]" value="-"><p>+</p></a>

                    </span>
                </div>



          <span class="bookin-widget_parameters_description">*under the age of 12</span>
        </div>

      </div>
    </div>
    <div class="booking-widget_content">


      <a href="#" class="booking-widget_flexible-dates">SELECT CHECK-IN  </a>
      <!--div class="3-calendars"></div-->
      <!--div id='sandbox-container'><div></div></div-->

      <p class="booking-widget_flexible-dates-active" style="display:none;">


      <input type="text" id="input1" size="10">

      <input type="text" id="input2" size="10">
    </p>
     <div class="datepicker"></div>

    </div>

    <div class="booking-widget_buttons">
      <button type="reset" class="booking-widget_reset_date_button" >RESET DATES</button>
      <button type="submit" class="booking-widget_select_rooms_button"  disabled>SELECT ROOMS</button>
    </div>

    <div class="booking-widget_buttons-active" style="display:none;">
      <p>  Best Price, per night: <span class="regular-rate">$225</span> <span class="special-rate">$220<span></p>
      <button type="reset" class="booking-widget_reset_date_button" >RESET DATES</button>
      <button type="submit" class="booking-widget_select_rooms_button">SELECT ROOMS</button>
    </div>
  </div>


<!--Avalible Rooms-->
<div id="step2">
  <div class="booking-widget_header">
      <!--div class="booking-widget_back "><img src="images/back.svg"></div-->
    <div class="booking-widget_close">&times;</div>
    <h3 class="booking-widget_title">Select Room</h3>
  </div>

    <div class="bookin-widget_selected-date">
      <a href="javascript:void(0);" class="backdate back"><img src="../images/calender.svg" alt=""/></a>
        <span id="dateRange"> </span>

      <div class="booking-widget_selected-rooms"><span class="roomcount"></span> Rooms  <span class="fa fa-angle-down"><span/> </div>
    </div>
  <div class="booking-widget_content">
    <!-- Start - Div that display the available Rooms on api call --->
        <div class="bookin-widget_avalible-rooms" id="availableRoomsDiv">




        </div>
    <!-- End - Div that display the available Rooms on api call --->


  </div>

</div>

<!--Room booking info-->
<div id="step3">
  <div class="booking-widget_header ">
      <!--div class="booking-widget_back "><img src="images/back.svg"></div-->
    <div class="booking-widget_close">&times;</div>
    <h3 class="booking-widget_title">Book Now</h3>
  </div>

  <div class="bookin-widget_selected-date">
    <a href="javascript:void(0);" class="backdate back1" ><img src="../images/calender.svg" alt=""/></a>
        <span id="dateRange1"> </span>
          <div class="booking-widget_selected-rooms"><span class="guestscount"></span> Guests  <span class="fa fa-angle-down"><span/> </div>
    </div>
  <div class="booking-widget_content">
    <div class="bookin-widget_avalible-rooms" id="roomDetailsWidget">


    </div>

  <div class="bookin-widget_prices-info">
    <table>
      <tr>
        <td>Room Charges :</td>
          <td class="text-right">$ <span id="charges"></span></td>
      </tr>
      <tr>
        <td>  Taxes & Fees :</td>
          <td class="text-right">$ <span id="taxfees"></span></td>
      </tr>
      <tr>
        <td class="bolder">   Total Price  :</td>
          <td class="text-right bolder">$ <span id="totalprice"></span></td>
      </tr>

    </table>
  </div>


  <div class="bookin-widget_form">
    <span id="errorMsg" class="error" style="display:none;"></span>
  <h3>GUEST details</h3>





  <form action="#" method="post" id="register-form"  novalidate="novalidate">
<input type="hidden" id="selectedRoomTypeId" name="selectedRoomTypeId" value="" />






  <label >Primary Guest</label>
  <input type="text" id="firstname" name="firstname"  class="form-control" placeholder="First Name">
  <input type="text" id="lastname" name="lastname"  class="form-control"  placeholder="Last Name    ">
  <input type="text" id="mobile" name="mobile" inputmode="numeric"  maxValue="10"  class="form-control" placeholder="Mobile    ">
  <input type="text" id="email" name="email" class="form-control"  placeholder="Email ">


  <h3>Payment Method  <span class="pull-right creditcard"><img src="../images/creditcards.png" alt=""/></span></h3>


  <div class="cards booking-wigget-check">



      <label class="control control--radio">Credit card
        <input type="radio" name="radio" checked  />
        <div class="control__indicator"></div>
      </label>
    </div>

    <div class="cards booking-wigget-check" style="display:none;">



        <label class="control control--radio">Paypal
          <input type="radio" name="radio" />
          <div class="control__indicator"></div>
        </label>


</div>



  <input type="text" id="nameonthecard" name="nameonthecard"  class="form-control" placeholder="Name on the card">

  <div>
    <span class="field">
      <label for="ccnum">Card Number</label>
      <input placeholder="Card number" type="tel" size="19" class="form-control"  name="ccnum" value="" id="ccnum">
    </span>
    <div><small>type: <strong id="ccnum-type">invalid</strong></small></div>
  </div>


  <label class="exp-date-lable" >Expiration date</label>


  <div class="select-control">
    <span class="field">
      <label for="expiry">Expiration</label>
      <input placeholder="Mo/Year" size="7" type="tel" class="form-control" name="expiry" value="" id="expiry">
    </span>
</div>
    <span class="cvc field">
      <label for="cvc">CVC</label>
      <input placeholder="CVV"  size="4" type="tel" class="form-control" name="cvc" value="" id="cvc">
    </span>


  <h3>Billing Address </h3>
  <div class="select">
  <select name="country" id="country" class="required">
      <option>Country</option>


      <option value="5">India</option>
      <option value="US">USA</option>
      <option value="6">Newzeland</option>
      <option value="8">Srilanka</option>


    </select>
    <div class="select__arrow"></div>
  </div>
  <input type="text" class="form-control" name="address" id="address"  placeholder="Address  ">
  <input type="text" class="form-control"  placeholder="City " name="city" id="city"  >
<div class="select-control-state">
  <div class="select-control-state-inner">

  <div class="select">


    <select name="state" id="state" class="required">
    <option value="">Select State</option>
    <option value="AL">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="AR">Arkansas</option>
    <option value="CA">California</option>
    <option value="WA">Washington</option>
  </select>


    <div class="select__arrow"></div>
  </div>

</div>
    <input type="text" id="zipcode" name="zipcode" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code  "-->
</div>


  <div class="termcheckbox booking-wigget-check">

    <label class="control control--checkbox">
      <input type="checkbox" />
      <div class="control__indicator"></div>
    </label>
      </div>
<div class="booking-widget_terms ">

  <p>I accept the <a href="#">Terms & Conditions</a> and the applicable
  <a href="#">Cancellation Policy</a></p>

  <p class="font-small">Unless otherwise noted, the rates shown here do not include (if applicable) extra person fees, child fees, resort fees, additional mandatory hotel charges or optional incidentals like parking, room service or movies.
</p>
</div>


<div class="clearfix"></div>
  <div class="booking-widget_booknow">
    <!--a href="#" class="bookin-widget_booknow">Booknow</a-->



    <button class="booking-widget_booknow" id="submit" >BOOKNOW</button>
    <!--<input type="button" name="booknow" id="booknow" value="BOOKNOW" class="booking-widget_booknow" onclick="bookNow(document.getElementById('selectedRoomTypeId').value);"/> -->
    <!--input type="submit" name="submit" class="booking-widget_booknow" value="BOOKNOW" -->


  </div>
</form>
  </div>



</div>
</div>


<!-- Booking info-->
<!--Room booking info-->
<div id="step4">
  <div class="booking-widget_header ">

    <div class="booking-widget_close">&times;</div>
    <h3 class="booking-widget_title">Confirmation</h3>
  </div>

  <div class="booking-widget_content">

<!-- Room Image and details gets replaced here -->
    <div class="bookin-widget_avalible-rooms" id="bookin_room_details">



    </div>



  <div class="bookin-widget_conform">

  <div class="bookin-widget_conform_room-info">
    <p >Booking ID</p>
    <label class="labledata"><span id="booking_id"></span></label>

      <p >Booked For</p>
      <label class="labledata"><span id="booked_for_adults"></span> Adult(s)</label>&nbsp;
      <label class="labledata"><span id="booked_for_children"></span> Children</label>

<p >Room</p>
<label class="labledata" id="room_name"></label>

<p >Check-In Date</p>
<label class="labledata" id="checkin_date"></label>

<p >Check-Out Date</p>
<label class="labledata"  id="checkout_date"></label>
  </div>

  <div class="GuestDetails">
  <h3>Guest details</h3>

<p>Primary Guest</p><label class="labledata" id="primary_guest"></label>

<p>Mobile Number</p>
<label class="labledata" id="mobile_no"></label>

<p >Email ID</p>
<label class="labledata" id="email_id"></label>

</div>


  <h3>Payment Summary</h3>
  <div class="bookin-widget_prices-info">
    <table>
      <tr>
        <td>Room Charges :</td>
          <td class="text-right" >$ <span id="bookin_charges"></span></td>
      </tr>
      <tr>
        <td>  Taxes & Fees :</td>
          <td class="text-right">$ <span id="bookin_taxfees"></span></td>
      </tr>
      <tr>
        <td class="bolder">   Total Price  :</td>
          <td class="text-right bolder">$ <span id="bookin_totalprice"></span</td>
      </tr>

    <tr>
    <td>Reservation Status</td>
      <td class="text-right confir"><span id="reservation_status">Confirmed</span></td>
    </tr>
    </table>
  </div>
<input type="hidden" id="localstorage_support_errmsg" name="localstorage_support_errmsg" value="" />
  <div class="booking-widget_booknow">
    <a href="/print/" traget="blank" >PRINT</a>
  </div>

  </div>



</div>
</div>


</div>
