<!--Footer Part-->
<footer id="Contact">

  <div class="container">
  <div class="row">
  <div class="inner-content">
  <div class="col-sm-3">
  <div class="footer-logo">


    {% for item in site.data._models.hotel_logo_text %}
		  {{ item.name}}
	  {% endfor %}

    <!--span class="logo-tag">{% region logo_text %} </span-->

  </div>
  </div>

  <div class="col-sm-3 f-social-links">
    <h3>Follow Us</h3>
    {% for social_icons in site.data._models.social_icons %}
      <a class= "{{ social_icons.icon_name }}" target="_blank" data-live-edit-model='social_icons'
data-live-edit-model-instance='{{social_icons.id}}.json'  aria-hidden="true" href = "{{ social_icons.icon_href }}"></a>
    {% endfor %}
  </div>

   <div class="col-sm-3">
   {% for contact in site.data._models.contact %}
      <h3>{{ contact.heading }}</h3>
      {{ contact.content }}
   {% endfor %}
   </div>

  <div class="col-sm-3">
   {% for address_details in site.data._models.full_address %}
      <h3>{{ address_details.heading }}</h3>
      {{ address_details.address }}
   {% endfor %}
   </div>
  <div class="clearfix"></div>
  </div>
  </div>
  </div>
</footer>
<section class="copyrights">
<div class="col-sm-6 text-right"><div class="row">{% for copy_rights in site.data._models.copy_rights %}{{ copy_rights.content }}{% endfor %}</div></div><div class="col-sm-6 text-left"><div class="row">  | <a href="/terms-and-conditions" target="_blank">Terms & Conditions</a> | <a href="/privacypolicy" target="_blank">Privacy Policy</a></div></div>
</section>
