<!--Footer Part-->
<footer id="Contact">

  <div class="container">
  <div class="row">
  <div class="inner-content">
  <div class="col-sm-3">
  <div class="footer-logo">


	<h3>{%regionblock hotel_logo_text type=header %}HOTEL NAME{%endregionblock%}</h3>
    <!--span class="logo-tag">{% region logo_text %} </span-->

  </div>
  </div>

  <div class="col-sm-3 f-social-links">
    <h3>{%regionblock social_header type=header %}Follow Us{%endregionblock%}</h3>
    {% for social_icons in site.data._models.social_icons %}
      <a class= "{{ social_icons.icon }}" target="_blank" data-live-edit-model='social_icons'
data-live-edit-model-instance='{{social_icons.id}}.json'  aria-hidden="true" href = "{{ social_icons.link_url }}"></a>
    {% endfor %}
  </div>

   <div class="col-sm-3">
   {% regionblock social_header %}
      <h3>Contact</h3>
      <p><a href="callto:(###)###-####">(###)###-####</a><br>  <a href="mailto:email@host.com">email@host.com</a></p>
   {% endregionblock %}
   </div>

  <div class="col-sm-3">
  	 {% region full_address %}
   </div>
  <div class="clearfix"></div>
  </div>
  </div>
  </div>
</footer>
<section class="copyrights">
<div class="col-sm-12 text-center">{%regionblock copy_right type=header %} © 2016 | All Rights Reserved {% endregionblock %} | <a href="/terms-and-conditions" target="_blank">Terms & Conditions</a> | <a href="/privacypolicy" target="_blank">Privacy Policy</a></div>
</section>
