
<!--section id="Gallery" class="=gallery clear-fix">
  <div class="container">
    <div class="row">
      <h6 class="text-center">{% region gallery_heading %}</h6>
      {% region gallery_heading %}

      <div class="owl-carousel owl-theme  slide" id="GallerySlider">
       {% for item in site.data._models.gallery %}
          <div class="item ">
            <a href= {{ item.imagehref.url }} data-lightbox="image-1" >
            <img src= {{ item.image.url }}  alt="" />
            </a>
          </div>
       {% endfor %}
      </div>
    </div>
  </div>
</section-->




<section  id="Gallery">
  <!-- gallery wrap -->
  {% region gallery_heading %}
  <div class="gallery-wrapper">
    <div class="gallery-listing">


        <div class="container gallery-wrap "  id="lightgallery">
          <ul class=" row">
            {% for item in site.data._models.gallery %}
            <li class="col-md-4 col-sm-4 col-xs-12 portfolio hotel"  data-cat="hotel">
              <div class="item"  data-src= {{ item.imagehref.url }}> <img src= {{ item.image.url }} class="img-responsive"/> </div>
            </li>
            {% endfor %}

          </ul>
        </div>

    </div>


    <!--<div class="btn-holder text-center"><a href="#" class="button-common btn-blue">load more images</a></div> -->
  </div>
  <!--/gallery wrap -->
</section>
