
<!--section class="location_section" id="location">
  <div class="container">
    <div class="title_info">
      <h2>LOCATION</h2>
      <div class="title_tagline"></div>
    </div>
    <!-- Loaded by the eanhotels controller //-->
    <!--div class="map" >
      <div id="map"></div>
    </div>
    <div class="location">
      <div class="location-hight areastyle">
        <ul>

        </ul>
      </div>
      <a href="#" class="viewmore">View more</a> </div>
  </div>
</section-->


<section id="Location" class="Location clearfix" >
<article class="Location-bg clearfix">

<h6>LOCATION</h6>
<h2>An eos posse fabellas consectetuer</h2>
</article>

<section>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
<div class="row">
<img src="images/location.jpg" alt=""/>
</div>
</div>

<div class="col-sm-6">

<p class="first">{% region location_desc %}</p>

<div class="middle"> <h5 >Address Details</h5>
  <p class="gap">{% region fullAddress %}</p></div>

</div>
</div>
</div>
</section>

<section>

<div class="col-sm-6">

<p class="second">Lorem ipsum dolor sit amet, justo clita  vix ad, pri ei erant omnes deleniti:</p>
<div class="list">
<ul>
    <li>Lorem ipsum dolor sit ametmus    <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Cum sociis natoque penatibus <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Magnis dis parturient montes <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Nulla consequat massa quis enim <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Lorem ipsum dolor sit ametmus <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Magnis dis parturient montes <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
    <li>Lorem ipsum dolor sit ametmus <i class="fa fa-plus pull-right" aria-hidden="true"></i></li>
  </ul>
  </div>
</div>

<div class="col-sm-6">
<div class="row">

<!--img src="images/map.jpg" alt=""/-->

<div class="maps">
  <div id="map_container"></div>
  <div id="map"></div>
</div>

</div>
</div>
</section>



</section>
  