
<!--section class="location_section" id="location">
  <div class="container">
    <div class="title_info">
      <h2>LOCATION</h2>
      <div class="title_tagline"></div>
    </div>
    <!-- Loaded by the eanhotels controller //-->
    <!--div class="map" >
      <div id="map"></div>
    </div>
    <div class="location">
      <div class="location-hight areastyle">
        <ul>

        </ul>
      </div>
      <a href="#" class="viewmore">View more</a> </div>
  </div>
</section-->


<section id="Location" class="Location clearfix" >
<article class="Location-bg clearfix">

{% region location_heading %}
</article>

<section>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
<div class="row">
{% region location_img %}
</div>
</div>

<div class="col-sm-6">
<div class="first">{% region location_desc %}</div>

<div class="middle"> {% region address_heading %}
  <div class="gap">{% region fullAddress %}</div>
</div>

</div>
</div>
</div>
</section>
<section>

<div class="col-sm-6">
  <div class="second">{% region attractions_heading %}</div>
  <div class="list">
    <ul>
    {% for item in site.data._models.attractions %}
      <li> {{ item.name }}</li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="col-sm-6">
<div class="row">

<!--img src="images/map.jpg" alt=""/-->

<div class="maps">
  <div id="map_container"></div>
  <div id="map"></div>
</div>

</div>
</div>
</section>



</section>
