<section id="Location" class="Location clearfix" >
<article class="Location-bg clearfix">
  <h6>{% region location_heading %}</h6>
  <h2>{% region location_subheader %}</h2>

</article>

<section>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
<div class="row">
{% region location_img %}
</div>
</div>

<div class="col-sm-6">
<div class="first">
  <div  class='content-area'>{% region location_desc %}</div>
</div>

<div class="middle">
  <h5>{% region address_heading %}</h5>
  <div class="gap">{% region fullAddress %}</div>
</div>

</div>
</div>
</div>
</section>
<section>

<div class="col-sm-6">
  <div class="second">{% region attractions_heading %}</div>
  <div class="list">
    <ul>
    {% for item in site.data._models.attractions %}
        <hr>
        <span class="fa fa-check"></span>
        <li  data-live-edit-model='attractions' data-live-edit-model-instance='{{item.id}}.json' > {{ item.name }}</li>

    {% endfor %}
    </ul>
  </div>
</div>

<div class="col-sm-6">
<div class="row">

<!--img src="images/map.jpg" alt=""/-->

<div class="maps">
  <div id="map_container"></div>
  <div id="map"></div>
</div>

</div>
</div>
</section>



</section>
