<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/scrolling-nav.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/booking-widget.js"></script>
<script src="/js/jquery.pickmeup.js"></script>
<script src="/js/selectrange.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/jquery.validate.min.js"></script>
