.booking-widget {
  font-family: 'Lato', sans-serif;
  position: fixed;
  z-index: 1000000000;
  top: 0;
  right: -500px;
  width: 415px;
  height: 93%;
  background: #e6e4e5;
  -webkit-transition: right 0.4s;
  transition: right 0.4s;
  -webkit-box-shadow: -11px 11px 45px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: -11px 11px 45px -11px rgba(0,0,0,0.75);
  box-shadow: -11px 11px 45px -11px rgba(0,0,0,0.75);

  @extend .clearfix;

  &.-show {
    right: 0;
    height: 99%;

  }

#selecthotel{
    optgroup{
          text-transform: uppercase;
          option{
              text-transform: none;
          }

    }
}



.booking-widget_header {
  background: #2378bc;
  @extend .clearfix;
}

.booking-widget_close {
  float: right;
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  width: 58px;
  height: 58px;
  line-height: 58px;
  color: #fff;
  cursor: pointer;
}
.booking-widget_back {
  float: left;

  font-weight: lighter;
  text-align: center;
  width: 58px;
  height: 58px;
  line-height: 58px;
  color: #fff;
  cursor: pointer;
}


.booking-widget_title {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  font-weight: lighter;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: left;
  height: 58px;
  margin: 0 58px 0 20px;
  line-height: 58px;
  color: #fff;
}

#step1 .booking-widget_content {

  top:127px;
}
#step4 .booking-widget_content {

  top:58px;
}


.booking-widget_content {
  font-family: 'Lato', sans-serif;
  position: absolute;
  top:105px;
  right: 0;
  left: 0;
  bottom:0;
  width:100%;
  height: auto;
  max-height: calc(99%);
  overflow-x: hidden;
  overflow-y: auto;
  background: #E6E4E5;

  .bk-select{
      width: 100%;
      min-height: 40px;
      border:0px;
      cursor: pointer;
  }
}

// Flexible dates --------------------------------------------------------------
.booking-widget_flexible-dates {
  display: block;

  padding: 15px 0px;
  color: #322c2c;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background: #FFF;
  font-family: 'Lato', sans-serif;


}

.booking-widget_flexible-dates-active {
  display: block;

  padding: 15px 0px;
  color: #322c2c;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background: #FFF;

span{
  border:none;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

}

.booking-widget_selected-rooms{
float:right;
width:105px;

span{
   color:#2378bc;
   padding: 5px;
}

}

.booking-widget_flexible-dates_icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 10px;
  background: url('../images/booking-widget/arrow-right.svg') no-repeat;
  background-size: 11px 11px;
}


// Rooms, Adults, Children -----------------------------------------------------
.bookin-widget_parameters {
  margin: 20px 0;
  padding: 0 10px;
  text-align:right;
}

.bookin-widget_parameters_select-group {
input{ background: none;
width:17px;
border: none;
float: left;
color:#2378bc;
margin-left: 2px;
    padding: 4px;
}
}
.bookin-widget_parameters-text{
  font-size: 13px;
      padding: 4px 0px;
  float: left;
}

.bookin-widget_parameters_adualt{
float:left;
width:33%;

padding:0px 8px;
border-right: 1px solid #ccc;
}

.bookin-widget_parameters_children{
width: 31%;
float:left;
margin-left:2%;

}

.bookin-widget_parameters-icons{
  width:38%;

  margin-top: -10px;
a{
  padding:0px;
  margin:0px;
  :hpver{
border: 1px solid #2378bc;

  }
  p{line-height: 22px;
  font-size: 19px;}
 }
  .btn-min{
    border: 1px solid #adadad;
    border-radius: 50%;
    padding: 0px 8px;
    background: #e9e9e9;
    height: 26px;
    float: left;
    font-size: 19px;
    color: #acacac !important;
    width:26px;
  }
.btn-pls{


    border: 1px solid #adadad;
      border-radius: 50%;
      padding: 0px 7px;
      background: #f8f8f8;
      height: 26px;
      float: right;
      font-size: 19px;
        width:26px;
      color: #acacac !important;

}
}


.bookin-widget_parameters_lable {
  font-size:13px;
  text-align: left;
  color: #000;
  margin: 5px 0 0;
  text-transform:uppercase;
  float:left;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.bookin-widget_parameters_description {
  font-size:9px;

  text-align: right;
  color: #7a7878;
  margin: 5px 0 0;
  font-style: italic;
}



// Buttons -----------------------------------------------------------------------
.booking-widget_buttons{
padding: 2%;
  @extend .clearfix;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  background: #e6e4e5;
}

.booking-widget_buttons-active{
  padding: 2%;
  @extend .clearfix;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  background: #2378bc;




    .booking-widget_reset_date_button {
      display: block;
      width: 48%;
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      margin: 0px 10px 0px 0px;
      padding: 12px 30px;
      border: 1px solid #FFF;
      background:none;
      color: #FFF;
      outline: none;
      float: left;
    }


    .booking-widget_select_rooms_button {
      display: block;
      width: 49%;
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      margin: 0px 0px 0px 0px;
      padding: 12px 24px;
      border: 1px solid #FFF;
      background: #FFF;
      color: #000;
      outline: none;
      float: left;
    }
    p{
      color:#FFF;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    .regular-rate{
      color:#87caff;
      padding: 0px 10px;
    }

    .special-rate{
      color:#fff;
      padding: 0px 5px;
      font-weight: 700;
      font-size: 22px;
    }
  }
}

.booking-widget_buttons_content {
  @extend .clearfix;
  width: 100%;
  margin-bottom: 20px;
}

.booking-widget_reset_date_button {
  display: block;
  width: 48%;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 0px 10px 0px 0px;
  padding: 12px 30px;
  border: 1px solid #b8b6b7;
  background:none;
  color: #b8b6b7;
  outline: none;
  float: left;
}


.booking-widget_select_rooms_button {
  display: block;
  width: 49%;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 0px 0px 0px 0px;
  padding: 12px 24px;
  border: 1px solid #b8b6b7;
  background: #b8b6b7;
  color: #292929;
  outline: none;
  float: left;
}
.bookin-widget_selected-date{
  background: #FFF;
  @extend .clearfix;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.bookin-widget-backdate {
  width: 32px;
  height: 18px;
  background-size: 32px 22px;
  vertical-align: bottom;
  display: inline-block;;
}



.bookin-widget_avalible-room-details{
  position: relative;
  margin-bottom: 2px;
img {
  width:100%;
}
.room-name_price{
  font-family: 'Lato', sans-serif;
position: absolute;
bottom:0px;
  padding: 40px 20px 20px 20px ;

  background: url('../images/background.png')repeat-x;
  text-transform: uppercase;
  color: #FFF;
  width:100%;
  font-weight: 500;

.lightfont{
  font-size:10px;
}
.room-price{
  font-weight:200;
  text-transform: none;
  }
  .regular-price{
    color:#939393;
  }
.lightfont{

  .lightfont-dash{
    text-decoration: line-through;

    color: #939393;
  }
}
}
}

.bookin-widget_prices-info{
  width:100%;
table{
    font-family: 'Lato', sans-serif;
    width:90%;

    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
    td{width:50%;
      padding:5px;
    }
      .bolder{font-weight: 600;}

  }
}

.bookin-widget_form{
  width:90%;
  font-family: 'Lato', sans-serif;
  margin: auto;
  padding-bottom: 10px;
  h3{
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0px;

    .creditcard{
      text-align: right;
      width:210px;
    float: right;
      img{width:70%;}
    }
  }
  label{

    font-weight: 300;
    font-size: 12px;
  }
  label.error{
    display:none!important;
    font-weight: 300;
    font-size: 12px;
  }
  .exp-date-lable{ margin-top: 14px;}

  .select-control{
    border-radius: 0px !important;
      margin: 0px 0px 5px;
      font-size: 12px;
      box-shadow: none;
      /* height: 25px; */
      width: 70%;
      /* padding: 6px 12px; */
      float: right;


      .select-control-inner{

        width:48%; float: left;

      }

      .select-control-inner-right{

        width:48%; float: right;

      }
      select{
      border-radius:0px;
      width: 100%;

    float: left;
  }
  }


  .select-control-state{
      border-radius: 0px !important;
      margin: 0px 0px 5px;
      font-size: 12px;
      box-shadow: none;
      /* height: 25px; */
      width: 100%;
      /* padding: 6px 12px; */
        float: left;



    select{
      border-radius:0px;
      width:100%;
    margin-left: 0px;
    float: left;


  }

  input{  width:38%;
  margin-left: 0px;
  float: right;}
  }

  .select-control-state-inner{   width: 60%; float: left;}
  .cards{
    width:50%; float: left;
    margin:10px 0px;

  label{
    padding-top: 8px;
    margin-bottom: 6px;

    }

  }

  .form-control {
    border-radius: 0px;
    margin:5px 0px;
    font-size:12px;
    box-shadow:none;
    width: 100%;
    transition:none;
    border:1px solid #cecece;

  }

  .error{display:black; color:#de3235;

   }

   input.error{display:black; color:#de3235;
      border:1px solid #de3235!important;
    }
    select.error{display:black; color:#de3235;
       border:1px solid #de3235!important;
     }



    /*validations*/

    .field {
      display: block;

      label{
        display:none;
        }
    }

    .error input {
      color: red;
      border: 1px solid #de3235;
    }

    .cvc.field {
      margin-left:0px;
    }


    .error label {
      color: #de3235;
    }



.termcheckbox{

  width:10%;
  float: left;


}
  .booking-widget_terms{
    width:90%;
    float: right;
    a{
      color:#000;
      text-decoration:underline;
    }
    p
    {font-family: 'Lato', sans-serif;
      font-size: 11px;
      color: #292929;
      line-height: normal;
    }
    .font-small{
      font-family: 'Lato', sans-serif;
      font-size: 8px;
      line-height: normal;
      font-style: italic;
      color: #292929;
    }


  }

  .booking-widget_booknow{

    button{
  background: #2378bc;
  padding:20px;
  text-align:center;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0px;
  display: block;
  width:100%;
  border: none;
  color: #FFF;

  }
  }

}



.bookin-widget_conform{
  width:100%;
  font-family: 'Lato', sans-serif;
  margin: auto;
  padding-bottom: 10px;
  h3{
    font-size: 16px;
    text-transform: capitalize;
    padding: 0px 20px;
    color: #4dbad4;
  }

  .bookin-widget_conform_room-info{
    font-size:17px;
    padding: 5px 20px 16px 20px;
    p{
      font-family: 'Lato', sans-serif;
      margin: 0px;
      line-height: 20px;
      color:#949494;
      font-weight: 300;
      padding-top:26px;
      letter-spacing: 0px;
    }
      .labledata{
        font-weight: 400;



      }
  }
  .confir{font-weight: 600;
    text-transform: uppercase;
    color:#2378bc;
  }
.GuestDetails{
    background: #FFF;
    padding:20px;

      h3{
        padding:0px 0px 0px;
        margin: 0px;

      }


      p{
        font-family: 'Lato', sans-serif;
        margin: 0px;
        line-height: 20px;
        color:#949494;
        font-weight: 300;
        padding-top:13px;
        letter-spacing: 0px;
      }
        .labledata{
          font-weight: 400;



        }
    }

    .booking-widget_booknow

    a {
      background: #2378bc;
      width: 90%;
      padding: 20px;
      text-align:center;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 10px auto;
      display: block;

    }

}


}




/*example*/



.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 30px;
  width: 30px;
  background: #FFF;
  border:1px solid #cecece;
}
.control--radio .control__indicator {
  border-radius: 0%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #FFF;
}
.control input:checked ~ .control__indicator {
  background: #FFF;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #FFF;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 6px;
  top: 6px;
  height: 16px;
  width: 16px;
  background:#b2b2b2;


}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #fff;
}
.control--radio .control__indicator:after {
  left: 7px;
    top: 7px;
    height: 14px;
    width: 14px;
    border-radius: 0%;
    background: #b2b2b2;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #FFF;
}
.select {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #cecece;
  background: #FFF;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 8px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #FFF;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #FFF;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #7f7f7f transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

