

$black: black;
$white:white;
$white_80: rgba(255,255,255, 0.80);

$light-gray:#f7f7f7;
$gray:#b7b7b7;
$dark-gray:#32333c;
$darkest-gray: #212124;
$dark-blue:#04082f;
//$color-text-lightgray: #cccccc;
$blue:#1a24a7;
$gray-blue: #25294b;

$color_mercury_approx: #e6e6e6;

$caption-light: $gray;
$caption-dark: $dark-blue;


$background-dark: $darkest-gray;
$background-light: $light-gray;

$book-now-background: $blue;
$book-now-color: $white;

$body-background: $white;
$nav-background: $white;

$header-dark: $dark-blue;
$text-dark: $dark-gray;
$text-dark-soft: $gray;

$header-light: $white;
$text-light: $white;
$text-light-soft: $white;

$tab-active: $gray-blue;
$tab-inactive: $gray;



$primary-font: "NeueHaasGroteskDisp W01";
$primary-font-med: "NHaasGroteskDSW01-65Md";
$primary-font-light: "NHaasGroteskDSW01-45Lt";

$special-font: "bill corporate narrow W00mediu";
$special-font-light: "billcorporatenarrowW00extralig";

$nav-item-font-size: 13px;

@mixin nav-styles {
  color: $text-dark;
  text-transform: uppercase;
	line-height: 20px;
	text-transform: uppercase;
	font-family: $primary-font;
	font-size:18px;
	
  @media (min-width: $nav_breakpoint){
  	font-size: $nav-item-font-size;  
  }
  
}