$nav_breakpoint: $screen_sm;


html {
  background:$body-background;
  font-family: $primary-font;
  color: $text-dark;
}

body{
	background:$body-background;
	margin: auto;
  max-width: 1200px;
}

//@media (min-width: $screen-xs){
//  .container{ width: $screen-xs * .9}
//}
//@media (min-width: $screen-sm){
//  .container{ width: $screen-sm * .9}
//}
//@media (min-width: $screen-md){
//  .container{ width: $screen-md * .9}
//}
//@media (min-width: $screen-lg){
//  .container{ width: $screen-lg * .9}
//}




a,a:hover,a:active,{
	text-decoration: none;
}

h1, h4, h2 {
  font-family: $special-font;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-size: 72px;  
}
h2 {
  font-size: 24px;
  font-family: $special-font-light;
}
h1, h2 {
  color: $header-light;
}
h3 {
  font-family: $primary-font;
  color: $header-dark;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;  
}
h4 {
  font-size: 43px;
}
h3, h4 {
  margin-bottom: 1.5em;
  color: $header-dark;
  letter-spacing: 1.5px;
}
h5 {
  font-family: $primary-font-med;
  color: $header-dark;
  font-size: 16px;  
  letter-spacing: 1.5px;
}

/*section*/
section{
	padding: 30px 0;
	h6{
		letter-spacing: 2px;
	}
}

p {
  font-family: $primary-font;
  font-size: 16px;
	line-height:1.6em;
}

.content-area, .content-area-intro {
  width: 80%;
  max-width: 900px;
  min-width: 300px;
  margin: auto;
  display: block;
}

.content-area p {
  font-family: $primary-font-light;
	color:$text-dark;
	letter-spacing: 1px;
	margin: 0 0 10px;
}

.content-area-intro p {
  color: $text-dark-soft;
  font-size: 22px;
  line-height: 1.5em;
	width: 80%;
  text-align: center;
	margin: 0px auto;
}

.tabs {
	ul {
		display:inline-block;
		margin:auto;
		list-style:none;
		padding:0px;
		li {
			display:inline-block;
			margin:20px  6px;
			padding:10px 0px;
			a {
        font-family: $primary-font-med;
				color: $tab-inactive;
			}
			a:hover {
				text-decoration:none;
			}
      &.active {
        border-bottom:1px solid $tab-active;
        a {
    			text-decoration:none;
    			color:$tab-active;
        }
      }
		}
	}
}

@import 'express/nav';

@import 'express/banner-carousel';



@import 'express/about';

@import 'express/rooms';

//@import 'express/general-amenities';


//@import 'express/facilities';

//@import 'express/hotel-amenities';

//@import 'express/location';

//@import 'express/gallery';

//@import 'express/footer';

//@import 'express/booking-widget';





// Import partials from `sass_dir` (defaults to `_sass`)
@import	"owl.carousel",
    		"lightbox",
    		"owl.theme",
    		"scrolling-nav",
        "print";
