$color: black;
$color-bg:#f7f7f7;
$color-white:white;
$color-blue:#04082f;
$color-lightgray:#32333c;
$color-gray:#b7b7b7;
$color-booking:#1a24a7;

body{
	background:$color-white;
	background-image:url("../images/Checkout-07.jpg") right;
	background-repeat: no-repeat;
	margin: auto;
}
@media (min-width:1200px){

	.container{width:1160px;}
}
@media(max-width:980px){
	.container{width:100%;}
	}


.navbar-toggle {
  border: none;
  background:#f7f7f7;
  @media (max-width:767px){
	  padding-right:136px;
	  background:#f7f7f7;
	  }
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
	.collapsed {
	.top-bar {
	  transform: rotate(0);
	}
	.middle-bar {
	  opacity: 1;
	}
	.bottom-bar {
	  transform: rotate(0);
	}
	}




.navbar-header{background:$color-white;}

 .navbar-collapse{
		 background:$color-white;

	@media (max-width:767px){
		width:230px;
		float:right;
		max-height:470px;
		font-family:'bill corporate narrow W00mediu';
		}
	 }

.navbar-default{
	background:$color-white;
	border:none;

	@media (max-width:767px){
		background:none;
		.pull-right{float:none!important;}
		}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }
}

.navbar-nav > li > a{
	line-height: 14px;
		color:$color-blue;
		text-transform: uppercase;
		font-family:'NeueHaasGroteskDisp W01';
		font-size:14px;
		@media (max-width:769px){
			padding: 15px 6px;
			font-size: 12px;
			}
		@media (max-width:766px){
			padding:6px 20px;
			font-size:18px;
			font-family:'bill corporate narrow W00mediu';
			}

	}

	.navbar-brand {

		@media (max-width:360px){
			width:130px;
			margin-top:2px;
			img{width:100%;
			}

		}
	}
	.nav-social {
		display:none;
		@media( max-width:1025px){
			display:none;
			}
			margin-top:8px;

			a{
			padding:10px;
			color:$color;
			}

			@media( max-width:980px){
				display:none;
				padding:0px;
				}
				@media (max-width:766px){
					display:block;;
					padding:10px;
					}
	}
	}
	.hiddenbrk1{
		display:block;
	@media (max-width:766px){
		display:none;
		}
	}
	.hiddenbrk{ display:none;
	@media (max-width:766px){
		display:block;
		}
	}
/*Book Now*/

.mobile{
background:#04082f;
display: none;

@media (max-width:766px){
	padding:12px;
	text-align:center;
	width:133px;
	display: block;
	position: absolute;
	right: 0px;
}


}
.booking{
	background:#04082f;

	text-align:center;
	width:133px;

	 float:right;

	 @media (max-width:1021px){
 			width:125px;
 			}
	@media (max-width:767px){
		display:none;
			}

			a{padding:15px; display:block;}
}


	a{
		color:$color-white;
		}
		a:hover,a:active,{
		color:$color-white;
		text-decoration:none;
		}






/*section*/
section{

	h6{
	text-transform:uppercase;
	padding:60px 0px 32px 0px;
	font-size:14px;
	font-family:'NeueHaasGroteskDisp W01';
	color:$color-blue;
	}

	h5{
	font-size:16px;
	font-family:'NHaasGroteskDSW01-65Md';
	color:$color-blue;
	}

	h2{

	@media(max-width:780px){
		font-size:36px;
		padding:0px 0px 50px 0px;
		}
	padding:0px 0px 60px 0px;
	color:$color-blue;
	font-size:30px;
	font-family:'bill corporate narrow W00mediu';
	text-transform: uppercase;
	}


}

p{
		font-family:'NeueHaasGroteskDisp W01';
		font-size:16px;
		line-height:28px;
		color:$color-lightgray;
		letter-spacing: 1px;
		}

/*About us*/

.About {
	p{
		font-family:"NHaasGroteskDSW01-45Lt";
		font-size:22px;
		letter-spacing: 2px;
		color:$color-blue;



		}

	.col-sm-5 p{
	@media (max-width:767px){
			padding-top:46px;
			}
		@media (max-width:980px){
			padding-right:0px;
			}
		font-family:'NeueHaasGroteskDisp W01';
		font-size:16px;
		padding-top:60px;
		padding-right:16px;
		line-height:28px;
		color:$color-lightgray;
		letter-spacing: 1px;
		}

	ul{
	display:inline-block;
	margin:auto;
	list-style:none;
	padding:0px;

	li{
	display:inline-block;
	margin:0px  6px;

	a{
	 color:$color;
		}
	}

	}

	.about-pics	{

		img{
		width:100%;
		height:100%;
		}
	}


	.social-icons{
		margin-bottom: 30px;

	}
}




/*Rooms*/

.Rooms-suits{
background:$color-bg;

@media (max-width:769px){
	.container{width:100%;}

	}
	}
.tabs{

ul{
	display:inline-block;
	margin:auto;
	list-style:none;
	padding:0px;

	li{
	display:inline-block;
	margin:20px  6px;
	padding:10px 0px;

	a{
	 color:$color-gray;

		}

		 a:hover{
			text-decoration:none;
			}
	}

	.active{
		border-bottom:1px solid $color;

		}
	.active a{
		text-decoration:none;
		color:$color!important;

		}

	}

}


.rooms-type{
	ul{
	margin:auto;
	list-style:none;
	padding:0px;

	li{
	display:inline-block;
	margin:-3px  0px;
	padding:0px;

	@media (max-width:689px){
		display:inline;
		width: 50%;
		float:left;
	}
	@media (max-width:480px){
		display:inline-block;
		float:none;
			width: 76%;
		}
	}
	}
}
.view {
  margin:0px;
  float: left;

  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff
}



.view .mask,
.view .content {
  width: 400px;
  height: 400px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
   z-index:2;
}

.view img {
	width: 100%;
  display: block;
  position: relative
}



.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;

  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

.view a.info:hover {
  box-shadow: 0 0 5px #000;
  cursor:pointer;
}




.view-first img {

  transition: all 0.2s linear;
  width: 350px;
  height: 250px;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(255,255,255, 0.80);
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  /*transform: translateY(-100px);*/
	position:absolute;
  opacity: 0;
  font-size:28px;
	padding-top: 15%;
	left: 30%;
	width: 30%;
  text-align:center;
  font-family:'bill corporate narrow W00mediu';
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
  line-height: 30px;
	text-transform: uppercase;

}



.view-first h3 {
	position:absolute;
  	font-size:28px;
		padding-top: 18%;
		left: 30%;
		width: 40%;
	text-align:center;
	font-family:'bill corporate narrow W00mediu';
	transition: all 0.2s ease-in-out;
	letter-spacing: 1px;
	line-height: 30px;
	z-index:1;
	color:$color-white;
	text-transform: uppercase;
}



.view-first:hover .mask {
  opacity: 1;
}


.view-first:hover h3{
  opacity: 0;
}

.view-first:hover h2 {
  opacity: 1;
  transform: translateY(0px);
}




/*General-Amenities*/

.General-Amenities{
	background:#212124;
	color:$color-white;
	padding-bottom:3%;
	margin-top:20px;

	ul{

		@media (max-width:980px){
		padding:0px;
		}
		@media(max-width:668px){
			margin-left:216px;
			padding:0px;
			}
			@media(max-width:480px){
				margin-left:128px;
				padding:0px;
				}
				@media(max-width:415px){
					margin-left:97px;
					padding:0px;
					}
				@media(max-width:376px){
					margin-left:60px;
					padding:0px;
					}
					@media(max-width:360px){
						margin-left:40px;
						padding:0px;
						}

		}
	ul li{

	line-height:30px;
	margin-left:40px;
	@media(max-width:980px){
		margin-left:10px;
		}
	}

	h6{
		color:$color-white;
		}

	.link{
	width:80px;
	margin:40px auto 20px auto;

	a{
	padding:10px 4px;
	border-top:1px solid $color-white;
	border-bottom:1px solid $color-white;
	text-align:center;
	color:$color-white;
	-o-transition: color .5s linear;
	-moz-transition: color .5s linear;
	-khtml-transition: color .5s linear;
	-webkit-transition: color .5s linear;
	-ms-transition: color .5s linear;
	transition: color .5s linear;
	transition:.5s;
	}
	a:hover{
		color:$color-blue;
		text-decoration:none;
		border-top:1px solid $color-blue;
		border-bottom:1px solid $color-blue;
		}
	}





}



/*Facilities*/

.Facilities{
	@media (max-width:980px){
			img{width:100%;}


			}

.facility-pics-bottom{
	position:relative;
	top: 37px;
    left: 45px;
    background: rgba(255, 255, 255, 0.7);
	font-family:'NeueHaasGroteskDisp W01';
    padding: 13px;
    text-transform: uppercase;
	font-size: 12px;
    letter-spacing: 1px;
	@media (max-width:980px){
		 left: 0px;
		 padding:0px;
		}

		@media (max-width:799px){
		 top: 13px;
		}
		@media (max-width:766px){
		 top: 13px;
		 display: none;
		}
 }

.Feature-list{

		ul {
		 	list-style:none;
		 	margin:0px;
		 	padding:0px;

			 li{
			 	padding:0px 0px;

			 	h6{
			 	padding:10px 0px!important;
			 	text-transform: capitalize;
				font-family:'NHaasGroteskDSW01-65Md';
				font-size:16px;

			 	}
			 	p{
					@media (max-width:980px){
						padding-right: 0px;
						}

			 	padding-right: 118px;
			 	margin:0px;
			 	line-height:25px;

			 	}

				 }
	 		}

 	}


 .facility-pics	{
 	padding-top:5%;
	img{
	width:100%;
	position: relative;
	}

 .facility-pics-info{

 	position: absolute;
 	bottom: 37px;
    left: 93px;
    background: rgba(255, 255, 255, 0.7);
		font-family:'NeueHaasGroteskDisp W01';
    padding: 13px;
    text-transform: uppercase;
	font-size: 12px;
    letter-spacing: 1px;

	@media (max-width:766px){
		left: 30px;
		display: none;
		}
 }

 }
}


.hotel-id-hidden{display: none;}

/*hotel Amenites*/
.hotel-Amenites{


	.list{
		margin:auto;
		font-size: 16px;
		font-family:'NeueHaasGroteskDisp W01';
		width:60%;
		margin: auto;

	.fa{font-size:10px; padding: 14px;}

	}
	/*ul{


		@media(max-width:980px){
		margin-left:0px;
		padding:0px;
		}
		@media(max-width:668px){
			margin-left:216px;
			padding:0px;
			}
			@media(max-width:480px){
				margin-left:128px;
				padding:0px;
				}
				@media(max-width:415px){
					margin-left:97px;
					padding:0px;
					}
				@media(max-width:376px){
					margin-left:60px;
					padding:0px;
					}
					@media(max-width:360px){
						margin-left:40px;
						padding:0px;
						}

	ul
	li{
	margin-left:40px;
	line-height:30px;
	font-family:'NeueHaasGroteskDisp W01';
	@media(max-width:980px){
		margin-left:10px;
		padding:0px;
		}

	}
}*/
	.more-link {
		width:100px; margin:auto;
		span{
			padding:10px 0px;
			margin:10px;
			cursor:pointer;
			display:block;
			text-align:center;
			border-top:1px solid  $color-blue;
			border-bottom:1px solid  $color-blue;
			}
		}

}



/*Location*/

.Location-bg{
	background:#f7f7f7;
	text-align:center;
	padding-bottom:0px;
	}

	.Location{

 	img{
 	width:100%;
 	}

	.first{
		width:60%;
		margin:auto;
		text-align:center;
		padding-top:80px ;
		@media (max-width:980px){
			width:100%;
			padding-top:40px;
			font-size:14px;
			}
		@media (max-width:767px){
			width:100%;
			padding-top:10px;
			font-size:14px;
			}
		}
	.middle{
		width:71%;
		margin:auto;
		text-align:center;
		padding:40px 0px;
		font-family:'NHaasGroteskDSW01-45Lt';
		font-size:22px;
		@media (max-width:980px){
			width:100%;
			padding:50px 0px;
			font-size:18px;
			}

		@media (max-width:767px){
			width:100%;
			padding: 20px 0px;
			font-size:18px;
			}
		}

	.last{
		width:60%;
		margin:auto;
		text-align:center;
		padding-bottom:70px;
		@media (max-width:980px){
			width:100%;
			font-size:14px;
			padding-bottom:10px;
			}


		}

		.second{
		width:56%;
		margin:auto;
		text-align:center;
		padding-top:80px;
		padding-bottom:30px;
		@media (max-width:980px){
			width:70%;
			padding-top:40px;
			}
		}


.list{

ul{
border-top:1px solid $color-gray;
padding:0px;
margin:auto;
width:60%;

	li{
		border-left:1px solid $color-gray;
		border-right:1px solid $color-gray;
		border-bottom:1px solid $color-gray;
		padding:10px;
		list-style:none;
		color:$color-gray;
		font-family:'NHaasGroteskDSW01-65Md';
		font-size:16px;
		}
		@media (max-width:980px){
			width:100%;
			}

			@media (max-width:700px){
			margin-bottom:40px;
			}
}

	}



	.maps{
	  width: 100%;
	  margin: 0 auto;
		height: 550px;

	}
	#map_container{
	  position: relative;
	}
	#map{
	    height:550px;
	    overflow: hidden;

	    position: relative;
	}


	}

/*Gallery*/

.gallery{ background:$color-bg}

.item > .col-md-6{ padding:0px;}
.item > .col-md-5{ padding:0px;

	img{
	width:100%;
	height: 450px;
	}

	.rates{

	position: absolute;
    padding: 15px 20px;
    bottom: 45%;
    text-align: center;
    background: #FFF;
    left: 30%;
    letter-spacing: 1px;

		@media (max-width:481px){
		left: 18%;

		}
	@media (max-width:320px){
		left: 14%;

		}
	}

}

.room-info{

	padding:50px 50px 0px 0px;

	h5{
		font-family:'NeueHaasGroteskDisp W01';
		font-size:14px;
		letter-spacing:1px;
		text-transform:uppercase;
		text-align:center;
		}

	h3{
		font-family:'bill corporate narrow W00mediu';
		font-size:30px;
		letter-spacing:1px;
		padding:20px 0px 54px 0px;
		text-align:center;
		text-transform:uppercase;

		@media (max-width:648px){
			padding:20px 0px 40px 0px;
			}
		}

		p{
			width:65%;
			margin:auto;
			@media (max-width:980px){
				width:80%;
				}
				@media (max-width:767px){
									width:63%;
									}
				@media (max-width:668px){
					width:70%;
					}
			}
			.btn-book{
				background:$color;
				padding: 10px;
				margin:50px auto;
				border-radius:0px;
				color:$color-white;
				width:100px;

				a{
					color:#FFF;
					}
				}
	}
.slider-text{
	color:$color-gray;
	padding:0px 10px;
	font-size:16px;
	font-family:'NHaasGroteskDSW01-65Md';
	letter-spacing:1px;
	}

/*Footer css*/
footer{
	background:$color;
	padding:56px 50px;
	font-family:'NeueHaasGroteskDisp W01';
	font-size:14px;

	h3{
		font-size:14px;
		font-family:'NHaasGroteskDSW01-65Md';
		font-weight:500;
		letter-spacing:1px;
		}
		@media (max-width:1025px){
			padding: 30px 10px;
			}

			@media (max-width:648px){
			text-align:center;
			padding: 30px 0px;
			}
	}

.inner-content{


	background:$color-white;
	padding:40px 0px;

	.inner-content:before,
	.inner-content:after
	{
    content: '';
    display: block;
    clear: both;
	}

	a{
	 color:$color;
	 line-height:24px;
	 letter-spacing:1px;
		}

	.footer-logo{
		vertical-align:middle;
		text-align:center;
		padding:30px 0px 30px 0px;
		border-right:1px solid #b7b7b7;
		@media (max-width:648px){
			display:none;
			}
		@media screen and(max-width:786px){
			img{ width:100%;}
			}
		}

	p{
		font-size:14px;
		line-height:24px;
		}


		.f-social-links{
			a{
				padding:5px 20px 10px 0px;
				}
			}
	}
	.copyrights{
		font-family:'NeueHaasGroteskDisp W01';
		font-size:12px;
		padding:20px 0px;
		text-align:center;
		 letter-spacing: 1px;
		}

	.gaps{
		padding:10px 0px;

		}
.loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
}
.loader

{
	display: none;
	width:200px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	text-align:center;
	margin-left: -50px;
	margin-top: -100px;
	z-index:2;
	overflow: auto;
}
