$nav_breakpoint: $screen_sm;
$booking-button-width: 140px;


html {
  background:$body-background;
  font-family: $primary-font;
  color: $text-dark;
}

body{
	background:$body-background;
	margin: auto;
  max-width: 1200px;
}

//@media (min-width: $screen-xs){
//  .container{ width: $screen-xs * .9}
//}
//@media (min-width: $screen-sm){
//  .container{ width: $screen-sm * .9}
//}
//@media (min-width: $screen-md){
//  .container{ width: $screen-md * .9}
//}
//@media (min-width: $screen-lg){
//  .container{ width: $screen-lg * .9}
//}




a,a:hover,a:active,{
	text-decoration: none;
}

h1, h4, h2 {
  font-family: $special-font;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-size: 72px;  
}
h2 {
  font-size: 24px;
  font-family: $special-font-light;
}
h1, h2 {
  color: $header-light;
}
h3 {
  font-family: $primary-font;
  color: $header-dark;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;  
}
h4 {
  font-size: 43px;
}
h3, h4 {
  margin-bottom: 1.5em;
  color: $header-dark;
  letter-spacing: 1.5px;
}
.h5 {
  font-family: $primary-font-med;
  color: $header-dark;
  font-size: 16px;  
  letter-spacing: 1.5px;  
}
h5 {
  @extend .h5;
}
h6 {
	letter-spacing: 2px;
}

/*section*/
section, footer {
	padding: 30px 0;
}

p {
  font-family: $primary-font;
  font-size: 16px;
	line-height:1.6em;
}

.content-area, .content-area-intro {
  width: 80%;
  max-width: 750px;
  min-width: 290px;
  margin: auto;
  display: block;
}

.content-area p {
  font-family: $primary-font-light;
	color:$text-dark;
	letter-spacing: 1px;
	margin: 0 0 10px;
}

.content-area-intro p {
  color: $text-dark-soft;
  font-size: 22px;
  line-height: 1.5em;
	width: 80%;
  text-align: center;
	margin: 0px auto;
}

.tabs {
	ul {
		display:inline-block;
		margin:auto;
		list-style:none;
		padding:0px;
		li {
			display:inline-block;
			margin:20px  6px;
			padding:10px 0px;
			a {
        @extend .h5;
				color: $tab-inactive;
			}
			a:hover {
				text-decoration:none;
			}
      &.active {
        border-bottom:1px solid $tab-active;
        a {
    			text-decoration:none;
    			color:$tab-active;
        }
      }
		}
	}
}


a.book-now-button { 
  letter-spacing: 1.5px;
  line-height: 1em;
  font-family: $primary-font-med;
  
  width: $booking-button-width;
  text-align: center;
  display:block;
  background: $book-now-background;
  color: $book-now-color;
  &:hover, &:active {
    text-decoration: none;
  }
}

figcaption {
  font-family: $primary-font;
  color: $text-dark-soft;
  margin: 3em 0;
  width: 120px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 12px;
}

@import 'express/nav';

@import 'express/banner-carousel';



@import 'express/about';

@import 'express/rooms';


@import 'express/facilities';

@import 'express/hotel-amenities';

@import 'express/location';

//@import 'express/gallery';

@import 'express/footer';

@import 'express/booking-widget';





// Import partials from `sass_dir` (defaults to `_sass`)
@import	"owl.carousel",
    		"lightbox",
    		"owl.theme",
    		"scrolling-nav",
        "print";
