
$color: black;
$color-bg:#f7f7f7;
$color-white:white;
$color-blue:#04082f;
$color-lightgray:#32333c;
$color-text-lightgray: #cccccc;
$color-gray:#b7b7b7;
$color-booking:#1a24a7;
$color_mercury_approx: #e6e6e6;
$white: #fff;
$black: #000;
$white_80: rgba(255,255,255, 0.80);
