

    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;


    }

    .top-nav-collapse {
        padding: 10px 0px;

    }

    .navbar-brand{ padding:0px;

    }

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
