.booking-widget {
  position: fixed;
  z-index: 1000000000;
  top: 0;
  right: -370px;
  width: 370px;
  height: 100%;
  -webkit-transition: right 0.4s;
  transition: right 0.4s;
  @extend .clearfix;

  &.-show {
    right: 0;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: url('/images/loading.gif') white center center no-repeat;
  }
  .booking-widget_header {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    background: $background-dark;
    @extend .clearfix;
    

    .booking-widget_close {
      float: right;
      font-size: 36px;
      font-weight: lighter;
      text-align: center;
      width: 58px;
      height: 58px;
      line-height: 58px;
      color: $header-light;
      cursor: pointer;
    }

    .booking-widget_title {
      font-family: $primary-font;
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      height: 58px;
      margin: 0 58px 0 0;
      line-height: 58px;
      color: $header-light;
    }
    
  }
}

