.loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
}
.loader

{
	display: none;
	width:415px;
	height: 84.5vh;
	position:fixed;
	text-align:center;
	background:rgba(105, 105, 105, 0.46);
	z-index:2;
	overflow: auto;
	top:105px;
	span{
	top:45%;
	position: relative;

}

}


/* Animation keyframes - you need to add prefixes */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* Loading animation container */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
	width: 20px;
	height: 20px;
	border-radius: 12px;
	border: 3px solid white;
}

/* Spinning circle mask */
.loading .mask {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

/* Spinner */
.loading .spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 26px;
	height: 26px;
	animation: spin 1s infinite linear;
}

.terms{

	background:#f6f5f5;
	padding-top:90px;
	font-family: 'NeueHaasGroteskDisp W01';
	font-weight:400;
	padding-bottom:50px;
	p{
		font-family: 'NeueHaasGroteskDisp W01';
		font-size:16px;
		line-height: 28px;
		padding-bottom: 20px;
	}
	h5{
		color:#000; font-weight:600;
		padding:10px 0px;
		font-size:16px;
	}

	ul li{
		font-size:16px;
		padding:10px;
		line-height:26px;
		color:#32333c;

	}

}
