/*Facilities*/

.facilities {
  .facility {
    margin-bottom: 2em;
  }
  figure.facility-pic {
    img {
      max-width: 80%;
    }
  }
  .extra-facility-images {
    .col-sm-6 {
      margin: 0;
      padding: 0;
    }
    figure.facility-pic {
      position: relative;
      img {
        max-width: 100%;
        width: 100%;
      }
      figcaption {
        width: 200px;
        position: absolute;
        left: 15px;
        bottom: 15px;
        background: $white_80;
        color: $header_dark;
        margin: 0;
        padding: 20px 15px;
      }
    }
  }
}