footer {
	background:$background-dark;
	font-size:14px;
  text-align: center;
	@media (min-width: $screen-sm) {
		text-align: left;
	}
  .inner-content-wrap {
    margin: 0;
  }
  .inner-content {
  	background:$body-background;
  	padding-top:40px;
    padding-bottom: 40px;
    [class*="col-"] {
      margin-top: 2em;
    }
    @media (min-width: $screen-sm) {
      .row {
        margin: 0;
        width: 100%;
        display: table;
        [class*="col-"] {
          margin-top: 0;
          float: none;
          display: table-cell;
        }
        
      	.footer-logo {
      		text-align:center;
      		border-right:1px solid $gray;
        }
      }
    }
  	h3{
  		font-family: $primary-font-med;
      text-transform: none;
      margin: .5em 0;
      @media (min-width: $screen-sm) {
        text-align: left;
      }
  	}
  	
    a { 
  		color:$text-dark;
  		line-height:24px;
  		letter-spacing:1px;
  	}

  	.footer-logo {
  		text-align:center;
  		padding:30px 0px 30px 0px;
  		h3 {
  			margin: 0px;
  			color: $header-dark;
  			text-align: center;
  			text-transform: uppercase;
  			font-size:18px;  			
  		}
  	}

  	p {
  		line-height:1.9em;
  	}


  	.f-social-links{
  		a {
        padding:5px 10px;
        @media (min-width: $screen-sm) {
          padding-left: 0;
          padding-right: 20px;
        }
  		}
  	}
  }  
}

.copyrights {
	font-size:12px;
	padding:20px 0px;
	text-align:center;
	letter-spacing: 1px;
  .tt-region, .tt-region_ped {
    display: inline;
  }
	a { color: $text-dark }
}


