.gallery {
	background:$background-light;
  .gallery-wrapper {
  	.gallery-wrap {
   		ul{
  			list-style:none;
  			padding:0px;
  			margin: 0;
        li {
          height: auto;
          @media (max-width: $screen-xs) {
            width: 100%;
            float: none;
          }
          @media (min-width: $screen-sm) {
            height: 150px;
          }
          @media (min-width: $screen-md) {
      			height: 190px;            
          }
          @media (min-width: $screen-lg) {
      			height: 230px;            
          }
    			margin-bottom: $grid-gutter-width;
        	.item {
      			-webkit-transition: all 0.5s ease;
      			-moz-transition: all 0.5s ease;
      			-o-transition: all 0.5s ease;
      			transition: all 0.5s ease;
      			overflow: hidden;
      			cursor: pointer;
            height: 100%;
            &:hover {
        			opacity: 0.5;
        		}
      		}
        }
  		}
  	}
  }
}