.general-amenities{
	background:#212124;
	color:$text-light;
	padding-top: 40px;
	padding-bottom:40px;
	margin-top:40px;

	ul {
		@include make-row();
		margin: 40px 0;
		li{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(4);
			padding-bottom: .5em;
			padding-right: 60px;
		}
	}

	h6{
		color:$white;
	}

	.link {
		width:80px;
		margin:40px auto 20px auto;

		a{
			padding:10px 4px;
			border-top:1px solid $white;
			border-bottom:1px solid $white;
			text-align:center;
			color:$white;
			-o-transition: color .5s linear;
			-moz-transition: color .5s linear;
			-khtml-transition: color .5s linear;
			-webkit-transition: color .5s linear;
			-ms-transition: color .5s linear;
			transition: color .5s linear;
			transition:.5s;
		}
		a:hover{
			color:$color-blue;
			text-decoration:none;
			border-top:1px solid $color-blue;
			border-bottom:1px solid $color-blue;
		}
	}
}
