/*hotel Amenites*/
$list-line-height: 1.4em;
$list-margin: .2em;
$num-items: 6;

.hotel-amenities{
  background: $body_background;
	
  ul.amenities-list {
    height: $num-items * ((2 * $list-line-height) + $list-margin);
    overflow: hidden;
		transition: height 1s linear;      		
  	
    @media (min-width: $screen-sm) {
      height: $num-items / 2 * ((2 * $list-line-height) + $list-margin);
    }
    &.expanded {
      height: auto;
    }
    li {
      font-family: $primary-font;
			margin: 0 0 $list-margin;
			height: 2 * $list-line-height;
      line-height: $list-line-height;
    }
  }
	a.more-link {
		width:100px; 
		padding:10px 0px;
		margin:10px auto;
    color: $text-dark;
		cursor:pointer;
		display:block;
		text-align:center;
		border-top:1px solid  $text-dark;
		border-bottom:1px solid  $text-dark;
	}
}

