.location {
  background: $background-light;
	
  img{
		width:100%;
	}

  
  .location-details {
    background: $body-background;
    .address-info {
      padding: 50px 0;
      margin: 0px auto;
      width: 60%;
      text-align: center;
      p {
        line-height: 1.8em;
        font-family: $primary_font;
      }
      h5 {
        margin: 2em 0;
      }
      .address {
        p {
          color: $header_dark;
          letter-spacing: 1px;
        }
      }
    }
  }
  
  .attractions-map {
    background: $body-background;
    p {
  		width:60%;
  		margin:auto;
  		text-align:center;		  
    }
  	.list{
  		ul{
  			padding:0px;
  			margin:auto;
  			width:80%;
  			li{
  				padding:10px 10px 10px 30px;
  				list-style:none;
  			}
  		}
  	}
  	.maps{
  		width: 100%;
  		margin: 0 auto;
  		height: 400px;

  	}
    #placeholder_map {
      text-align: center;
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        max-width: 100%;
        width: auto;
      }
    }
  	#map {
  		height:400px;
  		overflow: hidden;
      display: none;

  		position: relative;
      #map_marker {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        text-align: center;
        img {
          position: absolute;
          top: calc(50% - 48px);
          left: calc(50% - 24px);
          height: 48px;
          width: 48px;
          
        }
      }
  	}    
  }
}
