.Location-bg{
	background:#f7f7f7;
	text-align:center;
	padding-bottom:20px;
	padding-top: 36px;
}

.Location{
	img{
		width:100%;
	}

	.first{
		width:60%;
		margin:auto;
		text-align:center;
		padding-top:80px ;
		p{
			font-family:'NeueHaasGroteskDisp W01';
			font-size:14px;
		}
		@media (max-width:980px){
			width:100%;
			padding-top:40px;
			font-size:14px;
		}
		@media (max-width:767px){
			width:100%;
			padding-top:10px;
			font-size:14px;
		}
	}
	.middle{
		width:71%;
		margin:auto;
		text-align:center;
		padding:40px 0px;
		font-family:'NeueHaasGroteskDisp W01';
		font-size:14px;
		@media (max-width:980px){
			width:100%;
			padding:50px 0px;
			font-size:18px;
		}

		@media (max-width:767px){
			width:100%;
			padding: 20px 0px;
			font-size:18px;
		}
	}

	.last{
		width:60%;
		margin:auto;
		text-align:center;
		padding-bottom:70px;
		@media (max-width:980px){
			width:100%;
			font-size:14px;
			padding-bottom:10px;
		}


	}

	.second{
		width:56%;
		margin:auto;
		text-align:center;
		padding-top:80px;
		padding-bottom:30px;
		@media (max-width:980px){
			width:70%;
			padding-top:40px;
		}
	}

	.list{

		ul{
			padding:0px;
			margin:auto;
			width:80%;
			.fa{float:left; padding-top: 13px; color:$color-gray;}
			li{

				padding:10px 10px 10px 30px;
				list-style:none;
				color:$color-gray;

				font-size:14px;

				p{
					color:$color-gray;
					margin: 0px;
					font-size:14px;
					line-height: 20px;
				}

			}
			hr{
				border:0;
				height: 1px;
				padding: 0px;

				background-image: -webkit-linear-gradient(left, #8c8b8b, #f0f0f0, #fff);
				background-image: -moz-linear-gradient(left, #8c8b8b, #f0f0f0, #fff);
				background-image: -ms-linear-gradient(left, #8c8b8b, #f0f0f0, #fff);
				background-image: -o-linear-gradient(left, #8c8b8b, #f0f0f0, #fff);
				margin: 0px!important;
			}


			@media (max-width:980px){
				width:100%;
			}

			@media (max-width:700px){
				margin-bottom:40px;
			}
		}

	}





	.maps{
		width: 100%;
		margin: 0 auto;
		height: 550px;

	}
	#map_container{
		position: relative;
	}
	#map{
		height:550px;
		overflow: hidden;

		position: relative;
	}


}
