<!DOCTYPE html>
<html ng-app="ean" ng-cloak ng-controller="eanInitCtrl">
   {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" >
    {{ content }}
    {% include booking-widget.html %}
    <input type = "text" value = "{{ site.hotel_id }}" id="hotel_id" style="display:none;">
    <input type="hidden" id="selectedRoomTypeId" name="selectedRoomTypeId" value="" />
    <input type="hidden" id="selectedRoomImage" name="selectedRoomImage" value="" />

    {% include scripts.html %}
  </body>
</html>
