---
layout: default
---

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
             <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                               <a href="/" class="navbar-brand page-scroll" href="#page-top">

                {% for item in site.data._models.hotel_logo_text %}
		              {{ item.name}}
	       	      {% endfor %}

                 </a>

                 <a show-booking-widget class="mobile" href="#">BOOK NOW</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav  pull-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#About">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#Rooms">Rooms</a>
                    </li>
					<li>
						<a class="page-scroll" href="/#Facilities">Facilities</a>
					</li>
					<li>
						<a class="page-scroll" href="/#Amenities">Amenities</a>
					</li>
					<li>
						<a class="page-scroll" href="/#Location">Location</a>
					</li>
					<li>
						<a class="page-scroll" href="/#Gallery">Gallery</a>
					</li>
                    <li>
                        <a class="page-scroll" href="/#Contact">Contact</a>
                    </li>

                    <ul class="nav-social pull-right">

						<a class="fa fa-facebook" aria-hidden="true"></a>

						<a class="fa fa-twitter" aria-hidden="true"></a>

						<a class="fa fa-google-plus" aria-hidden="true"></a>

						<a class="fa fa-instagram" aria-hidden="true"></a>

						<a class="fa fa-pinterest-p" aria-hidden="true"></a>
					</ul>

          <div class="booking">
                 <a show-booking-widget href="#">BOOK NOW</a>
                 </div>

                </ul>

            </div>



            <!-- /.navbar-collapse -->
        </div>

    </nav>


<article class="terms clearfix">
<div class="container">

<h3>Privacy Policy</h3>
	<p><b>{[hotelInfo.name]}</b> (“Hotel,” “we,” “us,” or “our”) is committed to protecting your privacy when you visit and/or interact with our website located at www.{[hotelInfo.name]}.com . As such, our privacy practices for the Site are explained in this Privacy Policy (this “Policy”). This Policy contains details about how we collect, use, and share information from you when you use the Site.</p>
	<p>
We may update this Policy from time to time. By using the Site, you (on behalf of yourself and your organization, if applicable) are expressly agreeing to the terms and conditions of the then-posted version of this Policy. If you do not agree with the terms and conditions of this Policy, you must immediately cease your use of the Site.</p>

<h5>CHANGES TO POLICY</h5>
<p>If any changes to this Policy affect how we treat or handle personally identifiable information (“PII”) already provided to us by you, we will use commercially reasonable efforts to notify you by email (if the Hotel has a valid email address to use) and give you thirty (30) days to opt out of the changes as they pertain to such PII.</p>

<h5>OUR COLLECTION AND USE OF PII</h5>
<p>PII is generally defined as information that may be able to identify you such as, but not limited to, your name, address, telephone number, email address, credit or debit card number, social security number, bank account number or code, photograph, or age, among other things. We only collect PII that you voluntarily provide to us.</p>
<p>You can generally visit and browse the Site without revealing any PII to us, but some features or areas of the Site will ask or require you to provide PII to use those features or areas. For example, PII may be requested when you reserve a room through the Site, request information from the Hotel, create a user account, or enter certain contests or other promotional activities.</p>
<h5>WE MAY USE YOUR PII TO:</h5>
<ul>
	<li>Respond to your questions or comments</li>
	<li>Send you room reservation confirmations and other scheduling information related to your stay as well as information on the hotel and surrounding area</li>
	<li>Sign you up for our email mailing list so we can send you marketing and survey communications.</li>
	<li>Verify your authority to use the Site.</li>
	<li>Enter you in Hotel contests and promotional activities.</li>
	<li>Better understand how we are doing as a business.</li>
	<li>Respond to and process requests from you for event or meeting proposals.</li>
	<li>Send you a requested copy of the Hotel’s meetings/planner brochure.</li>
	<li>mprove the content and general administration of the Site.</li>
	<li>Troubleshoot technical problems or issues with the Site or the Hotel’s computer systems.</li>
	<li>Conduct data analysis.</li>
	<li>Process the purchase of a Hotel gift certificate.</li>
	<li>Assist in collection efforts.</li>
	<li>Prevent fraud and/or abuse related to Hotel services.</li>
	<li>If provided by you, your health information in order to better serve you and any special needs you have; and</li>
	<li>Through your interaction with our social media pages (and consistent with your settings for those pages) for the purposes of communicating with you and learning more about you, such as but not limited to, your activities, interests, locations, friends, and status (please be mindful that social media sites have their own terms and privacy policies that you are subject to when interacting with one of our pages).</li>

</ul>

<h5>OUR COLLECTION AND USE OF ANONYMOUS DATA</h5>
<p>“Anonymous Data” refers to general information that does not identify you personally (unlike PII), including clicks, pages views and durations, IP address, referral links, use of particular services, and interest in services, information or features of the Site or other parties made available through or found at the Site. Anonymous Data is automatically collected by our servers when you visit the Site, including through the use of technology such as cookies and web beacons. We may use and share Anonymous Data as we deem useful in our sole discretion, including to operate, maintain, develop, market and improve the Site, our Hotel, and our services.</p>

<p>The Site uses cookies. Cookies are small files that are sent to your computer when you visit the Site. Cookies allow us and/or our advertising/marketing vendors to recognize your Internet browser when you subsequently return to the Site. Cookies also collect your user preferences when you visit the Site. We do not use cookies to obtain PII.</p>
<p>The Hotel or our advertising/marketing vendors also use cookies to: (1) assist with processing your Site room reservation requests; (2) customize the Site and other Site offerings to your needs; (3) provide you with a more enjoyable Site experience; and (4) track and measure your Site usage for each page so we can make improvements to the Site.
We use both session cookies (temporary files that are deleted when you close your browser) and persistent cookies (files that stay on your computer until you delete them or they expire).</p>
<p>We also use third party advertising technology to serve Hotel advertisements to you on other sites. The technology gathers anonymous data about your Site visits and visits to other sites where Hotel advertisements appear in order to serve you with Hotel advertisements on third party sites. When these advertisements are served to you, third party persistent cookies may be put on your computer.</p>
<p>For example, we use AdRoll (www.adroll.com, https://www.adroll.com/about/privacy) to serve you customized advertisements on third party sites based on your interaction with the Site. As you browse the Site, advertising cookies will be placed on your computer so that we can understand what you are interested in. Our display advertising partner, AdRoll, then enables us to present you with retargeting advertising on other sites based on your previous interaction with the Site. The techniques our partners employ do not collect PII. You can visit http://www.networkadvertising.org/choices/ to opt out of AdRoll and its partners’ targeted advertising.</p>
<p>The Hotel, through its third party advertising/marketing vendors, may also use pixel tags to collect Anonymous Data. The pixel tags are computer coding usually fixed to Site pages or emails that allows our vendors to anonymously collect certain pieces of information. The Hotel, in conjunction with our advertising/marketing and email vendors, may use pixel tags to:</p>

<ul>


	<li>Allow our advertising/marketing vendors to recognize cookies on your browser when you visit the Site. This assists our advertising/marketing vendors with determining if you reached the Site by clicking on a specific ad and/or to track your responses to Hotel advertisements served on third party sites. It may also reveal if a Site reservation was executed.</li>
	<li>Determine your technical ability to receive HTML emails. The pixel tag allows us to know if an email sent to you is opened and marks email addresses as ones that can receive HTML emails.</li>
	<li>Determine how many users open a specific email. This allows us or our email vendor to collect anonymous and aggregated statistics about a specific email blast or campaign.</li>
	<li>Allow us or our third party advertising/marketing vendors to deliver targeted advertising on third party sites. - Allow us to make the Site more usable and make our customer support better.</li>
	<li>Allow us to deliver to you promotional materials, offers, and other information that we believe would be relevant.</li>
</ul>
<p>You may set or configure your browser to block or disable cookies. Please review your browser instructions for details on that. Please note that by disabling cookies, this could affect your use of the Site and/or restrict your interaction with the Site. Please note that our advertising/marketing vendors may handle “do not track” requests differently from the Hotel.</p>

<h5>SHARING OF PII</h5>
<p>Except as noted in this Policy, we do not sell or share your PII with any person or entity outside of the Hotel and the management company for the Hotel. [INCLUDE MANAGEMENT COMPANY NAME HERE.] We do not share PII with any other parties for direct marketing purposes.</p>
<p>
We may provide your PII or other information to other vendors and service agencies that we use to assist us in running the Site and our business. For example, we may share certain portions of your PII with:
</p>
<ul>
	<li>Our reservations service provider to process your reservations; - our credit card processing entity in order to process your payments.</li>
	<li>Our email and communication vendor so it can send out emails and other electronic communications to you on our behalf.</li>
	<li>External information/technology vendors that are needed to operate and maintain our computer system/network.</li>
	<li>Outside professional services such as attorneys and accountants.</li>
	<li>Outside administrative support services needed to assist with the general operation of the Hotel.</li>
	<li>Prize/sweepstakes vendors that assist us with administering and running such events and programs.</li>
	<li>Outside agencies needed to process insurance claims.</li>
	<li>Outside customer survey providers.</li>
	<li>Outside investigators used to investigate accidents and other related and legal issues.</li>
	<li>Outside mail carriers to send direct mail to you on our behalf.</li>
	<li>The booking engine vendor software used to operate the room booking mechanism on the Site; and</li>
	<li>The providers of services offered at the Hotel such as restaurants and other dining, recreational and sport activities, concierge services, and health/gym/spa services.</li>
</ul>

<p>We share PII with these and other vendors only for the purposes specified by us.
The Site may integrate with social media sites/apps or tools which let you share content, information and/or actions you create or take on the Site with such social media sites/apps, and vice versa. What you choose to share can become public depending on your privacy settings for those social media sites/apps. Please review the privacy policies of those social media sites/apps for details about how each site/app handles content, information, and/or actions you share through them.</p>

<p>We may disclose your PII and other information if we believe in good faith: (1) it is required by law or as part of a legal process; (2) it allows us to protect and enforce our legal rights, including but not limited to, to limit harm or damages to the Hotel, Hotel property, and/or Hotel personnel; (3) it is needed to respond to a governmental or law enforcement investigation or request; (4) it is needed to protect the safety, property, and/or other legal rights of the Hotel and its employees, Hotel and Site visitors, and/or other members of the public; and/or (5) it is needed to prevent physical harm or damage to any person or Hotel property, and/or to respond to any other situation deemed an emergency by us.</p>

<p>We may share your PII with a third party if our ownership status changes, such as in the event such third party acquires our Hotel.</p>
<h5>REVIEW OF COLLECTED PII</h5>

<p>If you would like to review or edit any room reservation made through the Site, or revise the PII collected from you that makes up our customer database, email us at ______.  </p>

<p>Please note that we reserve the right to maintain proper business and transactional records required by law, even if such records contain your PII.</p>

<p>If you would like to opt out of receiving further promotional emails from us, please follow the opt out instructions at the bottom of the email or send us a detailed email to ______________.</p>
<p>Please note that any removal of content by us does not ensure or guarantee complete or comprehensive removal of the content in all places. The content may have been shared or reposted by other parties, or federal or state law may require maintenance of the content or information.</p>


<h5>RESPONSE TO “DO NOT TRACK” REQUESTS/SIGNALS</h5>
<p>At the present time, we do not respond to nor process “do not track” or similar technical requests not to be tracked.</p>
<h5>DATA SECURITY AND RETENTION</h5>
<p>We use, implement, and maintain industry standard technological security measures that are reasonably designed to help protect your PII from loss, unauthorized access, or disclosure both in storage/rest and in transmission. We use secured socket layer (SSL) encryption to help prevent unauthorized access to PII you transmit to the Site. Once information is received by us, it is stored on a secured server behind a firewall.</p>
<p>Information collected through the Site is processed and stored in the United States.
While we take the issue of protecting your PII seriously, you should exercise discretion in what information you transmit to the Site. No transmission sent over the Internet can be guaranteed to be fully secure, and therefore the transmitted information may be intercepted by others before it reaches us. If you are concerned about sending information to us over the Internet, please send the information by mail or call us to make other arrangements. We are not responsible for the security of information sent over the Internet.</p>
<p>We retain collected information to: (1) process room reservations and other services and actions performed through the Site; (2) maintain a customer database; and (3) otherwise fulfill the stated purpose for why the information was collected. We will also retain collected information connected to business records for periods of time required by law. Our collection times will be consistent with applicable law.</p>
<h5>CHILDREN'S PRIVACY</h5>
<p>The Site is intended for individuals 18 years of age and older located in the United States. The Site is not directed at, marketed to, nor intended for, users younger than 18 years of age. If we learn that any PII was provided through the Site by a person younger than 18 years of age, we will make commercially reasonable efforts to delete such PII promptly.</p>
<h5>NON-U.S. CONCERNS</h5>
<p>The Site is meant for individuals within the United States. We only knowingly collect information from individuals within the United States. If you provide information to us from outside of the United States, you do so at your own risk. If you are outside of the United States, you are responsible for complying with any local laws regarding use of the Site and related data collection. This Policy only addresses data collection from individuals within the United States. You also agree and acknowledge that by providing any information, including PII, through the Site, that such information will be transmitted to, and stored in, the United States.</p>

<h5>EXTERNAL LINKS AND THIRD PARTY SITES</h5>
<p>The Site may contain links to external websites not controlled by us. We are not responsible for the privacy practices and data collection policies for third party sites. You should consult the privacy policies of those sites for details.</p>
<p>We may allow interaction between the Site and other sites or other social media providers. This may include the “Like” button or other plugins available through the Site that allow you to share information with persons outside of the Site. Please consult the privacy policies of those third party providers before using them to make sure you are comfortable with the level of sharing.</p>

<h5>TERMS OF USE</h5>
<p>The Site’s Terms of Use is incorporated by reference into this Policy. The Site’s Terms of Use can be found at _______________</p>

<h5>OFF-LINE INFORMATION COLLECTION ISSUES</h5>
<p>The Hotel may also collect and/or use both PII and non-PII provided by you at off-line locations as outlined below:</p>
<ul>
<li>Store and/or monitor customer service telephone calls with us for service improvement and record keeping purposes; - to provide concierge services.</li>
<li>In connection with an event you book/reserve at the Hotel, such as number of guests, room accommodations needed, food, and budget.</li>
<li>Information about you if you plan to attend and/or attend an event at the Hotel for purposes of communicating with you about the event, sharing necessary contact information with the event’s planner, and for future marketing efforts to you about the Hotel.</li>
<li>Additional PII that is required under local laws to be collected during in-person check-in or registration at the Hotel.</li>
<li>Use of closed circuit television/video cameras and/or other security technology to record/capture images and sound of you (and other Hotel guests and visitors) in public places for security, crime prevention/investigation, Hotel staff protection, and/or other legal purposes.</li>
<li>Use of room keycard and other tracking technology to record data related to your location on Hotel premises for security, crime prevention/investigation, and/or other legal purposes.</li>
<li>In connection with bookings/reservations, notifications, and payments related to other Hotel services such as child care, gyms and health club usage, spas, sport and other recreational activities (including equipment rentals), business center, restaurant and other food/beverage services, and gift shops.</li>
</ul>
<h5>CONTACT</h5>
<p>If you have any questions regarding this Policy, please contact us at: _______________
</p>

</div>
</article>

{% include footer.html %}
